In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.style as style
style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
import math
import dataframe_image as dfi

In [2]:
plt.rcParams['font.family'] = 'Nunito'
plt.rcParams['font.size'] = 10


color_code = ['#80ADF7','#EFBA50']
font_name = 'Nunito'
font_size = 10
font_size_title = 12
font_weight = 'bold'
orange_color = '#EFBA50'
blue_color = '#80ADF7'
grey_color = '#B0BCC8'
green_color = '#9EEDE0'
red_color = '#FD7284'
# color_code2 = [blue_color, grey_color]

background_color = "#F1F1F1"
border_color = "#B0BCC8"
text_align = 'center'
border_width ="0.5px"
border_style = 'solid'

body_design = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align}
body_design2 = {'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'70px'}
body_design3 = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'100px'}

border_design = {'selector': 'th', 'props': [('background-color' , background_color),('border-style' ,border_style),('font-family',font_name),('font-size',font_size),('border-width',border_width),('text-align',text_align),('border-color',border_color)]}
bar_width=0.5

In [3]:
%run operations_utils.py

In [4]:
%run path_changer_overall.py

In [5]:
# df = pd.read_csv(source_file_path+'rx_flow_data_july21_final_updated.csv')

In [6]:
# df['track_rx_recieved_new'] =  pd.to_datetime(df.track_erx_received, dayfirst = False)
# df['track_rx_entered_new'] =  pd.to_datetime(df.track_rx_entered, dayfirst = False)
# df['max_date'] = df[['track_rx_recieved_new','track_rx_entered_new']].max(axis=1)
# df['max_date_only'] = df['max_date'].dt.date
# df['pharmacy_loc'] = df['rx_code_key_location'].astype(str).str[0:5]

In [7]:
# six_months = date.today() - relativedelta(months=+6)
# six_months = six_months.strftime("%Y-%m")
# six_month_date = str(six_months)+"-01"
# six_month_date

In [8]:
# df['filled_datekey_new'] =  pd.to_datetime(df.filled_datekey, dayfirst = False)

In [9]:
# df = df[df['filled_datekey_new'] > six_month_date]

In [10]:
# df['times_processed_ibd_regular_new'] = df['times_processed_ibd_regular'].notnull()
# df['times_processed_ibd_2K_new'] = df['times_processed_ibd_2K'].notnull()

In [11]:
# df['mon_key'] = df['max_date'].dt.strftime('%m-%y')

# df['mon_key_2'] = df['max_date'].dt.strftime('%b-%y')

# # df = df[df['mon_key_2']!='Jul-21']

In [12]:
# df['trackrx_last_ibdtag_new'] = df['trackrx_last_ibdtag'].notnull()

In [13]:
# df['status_callforins_day01_new'] = df['status_callforins_day01'].notnull()

In [14]:
# df['times_processed_callforins_day01_new'] = df['times_processed_callforins_day01'].notnull()

In [15]:
# df['times_processed_callforins_day02_new'] = df['times_processed_callforins_day02'].notnull()
# df['times_processed_callforins_day02_new'].value_counts()

In [16]:
# df['times_processed_callforins_day03_new'] = df['times_processed_callforins_day03'].notnull()
# df['times_processed_callforins_day03_new'].value_counts()

In [17]:
# #now apply all on scenario
# df['c1'] = pd.to_timedelta(df['time_consumed_callforins_day01'], errors = 'coerce')
# df['c2'] = pd.to_timedelta(df['time_consumed_callforins_day02'], errors = 'coerce')
# df['c3'] = pd.to_timedelta(df['time_consumed_callforins_day03'], errors = 'coerce')

In [18]:
# df['total_call'] = df[['c1','c2','c3']].sum(axis=1)

In [19]:
# def get_time_value(x):
#     return x > 0

In [20]:
# df['total_call_2'] = df['total_call'].dt.total_seconds()

In [21]:
# df['is_call'] = df['total_call_2'].apply(lambda x: get_time_value(x))

In [22]:
# pharmacy_loc_list = ['FL-MI', 'MD-BA', 'NC-RA', 'NJ-SO', 'NY-BK', 'NY-MA', 'PA-PH']
# df = df[df['pharmacy_loc'].isin(pharmacy_loc_list)]
# df.pharmacy_loc.unique()

In [23]:
%store -r main_odf_overall

In [24]:
df = main_odf_overall

In [25]:
df.head()

,Unnamed: 0,pharmacy_location,rxno,presnpi,ndc,trackrx_status,patientno,track_erx_received,track_rx_entered,rx_entered_date_verification,filled_datekey,final_rx_pickedup,rx_delivered_date,track_label_printed,final_rx_drug_picks,final_rx_rph_picks,last_run,rx_code_key_location,nabp,first_billed_datetime,end_billed_datetime,trackrx_processing_date_starttime,processing_end,IBD IN PROCESS,IBD FIDELIS,IBD REQUIRED,IBD $2K+,IBD IS $2K+,IBD 2K,IBD IS 2K,IBD SPECIALITY,IBD,IBD REGULAR,TO BE BILLED,CALL FOR INS,CALL FOR INS (KOREAN/CH),CALL FOR INS DAY 2,CALL FOR INS DAY 3,CALL FOR INS (KOREAN/CHINESE),CAL FOR INS (KOREAN/CHINESE),is_pickedup,is_eRx,trackrx_statusflow,trackrx_last_status,trackrx_last_delivery,trackrx_delivery_flow,trackrx_pickuptime_flow,trackrx_pickedup_flow,trackrx_last_pickuped,trackrx_last_ibdtag,trackrx_last_callinstag,end_filed_datetime,trackrx_callins_processing_start,ibd_processing_enddatetime,trackrx_ibd_processing_start,time_consumed_ibd_regular,times_processed_ibd_regular,status_ibd_regular,time_consumed_ibd_2K,times_processed_ibd_2K,status_ibd_2K,total_processing_time_ibd,times_processed_ibd,ibd_final_status,time_consumed_callforins_day01,times_processed_callforins_day01,status_callforins_day01,time_consumed_callforins_day02,times_processed_callforins_day02,status_callforins_day02,time_consumed_callforins_day03,times_processed_callforins_day03,status_callforins_day03,city,track_rx_filled,DRUGNAME,QTY,PATIENTCOPAY,TOTALINSPAID,PATZIP,PATDOB,INSCODE,DATEO,PATFNAME,PATLNAME,PATMOBILENO,PATPHONE,patsex,TOTALRXAMOUNT,patientno_mms,workflow_last_status,workflow_last_change_datetime,cxrev_last_datetime,times_cx_reversed,delrev_last_datetime,times_del_reversed,batchno,batchcreatedon,batchclosedon,deliverydate,driver,phone,patient_phone_x,batch_delivery_date,batch_delivery_datetime,batch_creation_datetime,batch_id,no_times_batch_created,delivery_date,shortId_of,status,patient_phone_y,patient_zipcode,delivery_time,Driver Number,didSucceed,match_method,rx_no_fill,zone_name,delivery_patient_zip_code,dl_app_delivery_created_time,dl_app_delivery_time,onfleet_short_id,delivery_id,driver_name,onfleet_state,pharmacy_location_dl,pharmacy_nabp,rx_no_fill_px,task_completed,slot_start,slot_end,pharmacy_location_px,refill_tag,new_delivered_date,PATPHONE_len,PATMOBILENO_len,shortId_mms,new_shortId,status_tag,id,rx_number,rx_status,patient_id,prescriber_id,insurance_id,drug_name,drug_form,followup_tag,copay,amount,ndc_prsc,quantity,fill_number,reversed,reversal_reason,reversal_fill_date,day_supply,status_prsc,created_at,id_task,status_id,associate_id_prsc,is_scheduled,scheduled_time,error_status,claimed_at,created_at_task,is_all_reversal_rxs,completed_at,cancelled_at,cancellation_reason,pharmacy_nabp_prsc,earliest_fill_date,rx_numbers_count,rx_numbers_list,total_awp,days_contacted,latest_contacted_at,insurance_category,parent_id,pharmacy_location_prsc,id_cv,contacted_at,outcome,created_at_cv,id_sd,payload,status_sd,created_at_sd,delivery_type,pickup_date_scheduled_deliveries,scheduled_startdate_scheduled_deliveries,scheduled_enddate_scheduled_deliveries,erxreceived_rxtimelines_boolean_d,rx_entered_date_rxtimelines_boolean_d,rx_entered_date_verification_boolean_d,rx_filledon_date_rxtimelines_boolean_d,rx_pickedup_date_rxtimelines_boolean_d,new_delivered_date_d_boolean_d,rx_labelprint_date_verification_boolean_d,rx_drugpick_date_verification_boolean_d,rx_rphpick_date_verification_boolean_d,first_billed_date_claimslog_boolean_d,last_billed_date_claimslog_boolean_d,processing_start_claimslog_boolean_d,processing_end_claimslog_boolean_d,current_status_rx_d,Overall_Visibility_for_Rx_d,erxreceived_rxtimelines_ltz_d,rx_entered_date_rxtimelines_ltz_d,first_billed_date_claimslog_ltz_d,last_billed_date_claimslog_ltz_d,rx_drugpick_date_verification_ltz_d,rx_rphpick_date_verification_ltz_d,pickup_date_scheduled_deliveries_ltz_d,scheduled_startdate_scheduled_deliveries_ltz_d,scheduled_enddate_scheduled_deliveries_ltz_d,new_delivered_date_ltz_d,created_at_contactevents_ltz_d,rx_filledon_date_rxtimelines_ltz_d,is_rescheduled_d,rescheduling_count_d,last_run,pharmacy_loc,filled_datekey_new,mon_key,mon_key_2,trackrx_last_ibdtag_new,status_callforins_day01_new,times_processed_ibd_new,status_ibd_2K_new,times_processed_ibd_regular_new,times_processed_ibd_2K_new,times_processed_callforins_day01_new,times_processed_callforins_day02_new,times_processed_callforins_day03_new,final_rx_entered,rx_delta,rx_delta_day,rx_delta_days_str,rx_delta_time2,ibd_processing_end_rx_final,received_to_entered_time,entered_to_first_billed,first_billed_to_last_billed,entered_to_last_billed,entered_to_label_printed,last_billed_to_label_printed,label_printed_to_drug_picked,drug_picked_to_rph_verified,rph_verified_to_pharmacy_pickedup,rph_verified_to_batch_creation,batch_creation_to_delivered,rph_verified_to_delivered,ibd_processing_start_to_end,time_to_identify_pa_is_required,waiting_time_for_ibd_processing,ibd_processing_end_to_label_printed,rx_entered_to_callins_processing_start,ibd_processing_end_to_first_billed,rph_verified_to_delivery_pickedup,delivery_pickedup_to_delivered,final_received_to_delivered,received_to_rph_verified,time_taken_by_rx_to_be_picked_up_by_IBD_team,time_taken_by_IBD_team_to_process_rx,c1,c2,c3,total_call,time_taken_for_call_for_insurance_process,total_call_2,is_call,total_processing_time_ibd_new
0,0,NY-BK,1157987-0,1871998476,75987004005,F,620373,2021-12-09 12:31:00,2021-12-09 12:39:00,2021-12-09 12:39:00,2021-12-31 13:00:00,NaT,NaN,2021-12-14 10:39:55,2021-12-14 10:02:00,2021-12-14 10:40:08,2022-01-09 01:21:07,NY-BK-1157987-0,3352779.0,2021-12-13 09:41:32,2021-12-31 15:31:15,2021-12-09 12:39:24,2022-01-08 12:42:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-09 15:21:57,NaN,2021-12-13 09:38:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,U->B->U->F,F,NaN,NaN,NaN,->N,N,TIME STUDY,NaN,2022-01-08 12:16:15,NaT,NaT,2021-12-09 12:44:54,0 days 02:37:03,1.0,completed,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-17 13:00:43,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New,NaT,3,3,NaN,NaN,NaN,c31579a5-6933-438a-8846-8bf6616b4f8c,1157987.0,Reversal,f72b814b-5e01-4812-8064-e9a053b1368d,f1967c16-407b-11eb-b378-0242ac130002,NaN,Drug Name: 1157987-0,NaN,NaN,25.0,25.00,999999.0,NaN,0.0,True,Patient no longer takes this RX,2022-01-07 00:00:00,NaN,NaN,2022-01-05 15:39:23,7ce9870e-35a1-4bbf-b9be-24f97fc7f688,dae11221-7cde-41a7-b522-fe51a448095f,ed82bf38-485a-42ec-ab82-1c4cc6cd5157,NaN,NaN,NaN,2022-01-07 15:45:56,2022-01-05 15:39:23,True,2022-01-07 15:48:44,NaN,NaN,3352779.0,NaN,1.0,1157987-0,NaN,2.0,2022-01-07 15:46:13,NaN,NaN,NY-BK,80b7cbbd-d3fa-4a31-a193-d8c56365a7ea,2022-01-07 15:46:13,Patient answered,2022-01-07 15:46:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True,True,True,False,False,True,True,True,True,True,True,True,11100,Rx with only IBD,2021-12-09 07:31:00-05:00,2021-12-09 07:39:00-05:00,2021-12-13 04:41:32-05:00,2021-12-31 10:31:15-05:00,2021-12-14 05:02:00-05:00,2021-12-14 05:40:08-05:00,NaN,NaN,NaN,NaN,2022-01-07 10:46:13-05:00,2021-12-31 08:00:00-05:00,NaN,1.0,2022-01-10 06:31:22,NY-BK,2021-12-31 13:00:00,12-21,Dec-21,True,False,False,False,True,False,False,False,False,2021-12-09 12:39:00,0 days 02:37:03,0 days,days,0 days 02:37:03,2021-12-09 15:21:57,0 days 00:08:00,3 days 21:02:32,18 days 05:49:43,22 days 02:52:15,4 days 22:00:55,-18 days +19:08:40,-1 days +23:22:05,0 days 00:38:08,NA,NA,NA,NA,NaT,0 days 00:05:54,NaT,NaT,NaT,3 days 18:19:35,NA,NA,NaT,4 days 22:09:08,NaT,NaT,NaT,NaT,NaT,0 days,0 days,0.0,False,False
1,1,NJ-SO,1199550-0,1417203928,50222030260,B,77426,2021-10-15 14:03:00,2021-10-15 17:34:00,2021-10-15 17:34:00,2021-11-30 11:46:08,2021-12-02,NaN,2021-11-30 18:50:21,2021-11-30 18:54:00,2021-12-01 09:25:19,2022-01-09 01:21:07,NJ-SO-1199550-0,3135868.0,2021-11-06 09:01:57,2021-11-30 13:08:06,2021-10-15 18:59:55,2022-01-08 15:14:31,2021-11-01 16:07:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-01 16:07:54,2021-10-29 10:29:38,2021-10-18 09:53:58,NaN,NaN,NaN,NaN,NaN,NaN,False,True,U->B->U->F->U->B,B,D,None->D,None->3:32 PM,->N->Y,Y,0,NaN,2021-11-19 11:46:07,NaT,2021-11-06 09:04:28,2021-10-18 11:09:31,3 days 06:57:30,2.0,completed,NaT,NaN,NaN,4 days 16:56:34,1.0,completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PICKED UP/DELIVERED,2021-12-01 13:59:47,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199550-0,Zone 3,7083.0,2021-11-30 19:39:44,2021-12-02 23:44:20,183e0ac3,201092.0,HealthEx Day of Delivery,COMPLETED,NJ-SO,3135868.0,1199550-0,2021-11-30 23:39:40,2021-12-02 21:00:00,2021-12-03 00:00:00,NJ-SO,New,2021-12-02 23:44:20,3,3,NaN,183e0ac3,Delivered,8fc27f27-0f43-4814-8361-e98d7ab6d4fb,1199550.0,Ready for delivery,74d86f09-a4f1-43ce-8aee-7dd6db2cdaec,36c74da0-b131-42b7-9fa3-cc4c5c8beb0f,14371075-f3bf-48cc-a656-fbb379592cd5,ENSTILAR FOAM,FOAM,NEW PX APP,4.0,1235.41,50222030260.0,60.0,0.0,NaN,NaN,NaN,20.0,PA_APPROVED,2021-11-30 18:16:49,44f3760e-8013-493c-a45b-08f62900a26c,dae11221-7cde-41a7-b522-fe51a448095f,a131a2e6-a3d3-431f-9c1d-2af6e1eea868,True,NaN,NaN,NaN,2021-11-30 18:16:49,NaN,2021-11-30 23:39:40,NaN,NaN,3135868.0,2021-11-30,1.0,1199550-0,1402.74,0.0,NaN,Commercial,NaN,NJ-SO,NaN,NaN,NaN,NaN,6da4e431-2434-472f-b8a8-8793648b124a,{'taskId': '44f3760e-8013-493c-a45b-08f62900a2...,sent,2021-11-30 23:39:40,scheduled-delivery,NaN,2021-12-02 21:00:00,2021-12-03 00:00:00,True,True,True,True,False,True,True,True,True,True,True,True,True,11101,Rx with only IBD,2021-10-15 10:03:00-04:00,2021-10-15 13:34:00-04:00,2021-11-06 05:01:57-04:00,2021-11-30 08:08:06-05:00,2021-11-30 13:54:00-05:00,2021-12-01 04:25:19-05:00,NaN,2021-12-02 16:00:00-05:00,2021-12-02 19:00:00-05:00,2021-12-02 18:44:20-05:00,NaN,2021-11-30 06:46:08-05:00,NaN,1.0,2022-01-10 06:31:22,NJ-SO,2021-11-30 11:46:08,11-21,Nov-21,True,False,True,False,True,False,False,False,False,2021-10-15 17:34:00,7 days 23:54:04,7 days,days,0 days 23:54:04,2021-10-26 11:03:35,0 days 03:31:00,21 days 15:27:57,24 days 04:06:09,45 days 19:34:06,46 days 01:16:21,0 days 05:42:15,0 days 00:03:39,0 days 14:31:19,NA,NaT,NaT,1 days 14:19:01,-19 days +02:05:03,2 days 17:35:31,18 days 21:54:57,24 days 09:45:53,NaT,10 days 21:58:22,0 days 14:34:41,0 days 23:44:20,48 days 06:10:20,46 days 19:22:19,NaT,4 days 16:56:34,NaT,NaT,NaT,0 days,0 days,0.0,False,True
2,2,NY-BK,1158109-0,1760484687,55513071001,B,602577,2021-12-09 14:37:00,2021-12-09 14:50:00,2021-12-09 14:50:00,2021-12-31 00:00:00,NaT,NaN,2022-01-01 10:21:54,2022-01-03 12:29:00,2022-01-03 13:09:50,2022-01-09 01:21:07,NY-BK-1158109-0,3352779.0,2021-12-31 13:50:51,2021-12-31 13:50:51,2021-12-09 14:53:30,2022-01-08 11:48:17,2021-12-27 11:50:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-27 11:50:49,2021-12-24 16:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,U->B,B,D,None->D,NaN,NaN,NaN,0,NaN,NaT,NaT,2021-12-31 13:50:55,2021-12-23 09:35:06,3 days 21:33:48,2.0,completed,NaT,NaN,NaN,4 days 02:00:06,1.0,completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SCHEDULED FUTURE DATE,2021-12-31 16:26:18,NaT,NaN,NaT,NaN,BN2201030030,2022-01-03 19:24:00,NaN,NaN,LEONARD,(646)344-9428,6463449428,2022-01-03,2022-01-03 19:24:00,2022-01-03 19:24:00,BN2201030030,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1158109-0,Zone 2,11358.0,2021-12-31 17:25:49,2022-01-04 13:08:08,de52441b,224344.0,Leonard Lewis 🚗 Z4+ ALL,COMPLETED,NY-BK,3352779.0,1158109-0,2021-12-31 21:25:43,2022-01-04 17:00:00,2022-01-04 20:00:00,NY-BK,New,2022-01-04 13:08:08,3,3,NaN,de52441b,Delivered,0396d1ff-b44f-40ea-a792-2be0f42106b3,1158109.0,Ready for delivery,e5575d5f-a544-4246-b7ab-fefaea043cfe,f1967c16-407b-11eb-b378-0242ac130002,NaN,PROLIA,NaN,NaN,0.0,0.00,999999.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2021-12-31 21:24:42,34d897f0-56f3-4bbf-b117-7be85fa99513,dae11221-7cde-41a7-b522-fe51a448095f,00655385-9329-464f-a682-b7cebdd39967,True,NaN,NaN,2021-12-31 21:24:42,2021-12-31 21:24:42,NaN,2021-12-31 21:25:43,NaN,NaN,3352779.0,NaN,1.0,1158109-0,NaN,1.0,2021-12-31 21:24:46,NaN,NaN,NY-BK,0d0a5843-0b7e-422b-b808-21587cf641cf,2021-12-31 21:24:46,Patient answered,2021-12-31 21:24:46,13012562-b18e-4008-9ce3-cd96645161c9,{'taskId': '34d897f0-56f3-4bbf-b117-7be85fa995...,sent,2021-12-31 21:25:43,scheduled-delivery,NaN,2022-01-04 17:00:00,2022-01-04 20:00:00,True,True,True,True,False,True,True,True,True,True,True,True,True,11101,Rx with only IBD,2021-12-09 09:37:00-05:00,2021-12-09 09:50:00-05:00,2021-12-31 08:50:51-05:00,2021-12-31 08:50:51-05:00,2022-01-03 07:29:00-05:00,2022-01-03 08:09:50-05:00,NaN,2022-01-04 12:00:00-05:00,2022-01-04 15:00:00-05:00,2022-01-04 08:08:08-05:00,2021-12-31 16:24:46-05:00,2021-12-30 19:00:00-05:00,NaN,NaN,2022-01-10 06:31:22,NY-BK,2021-12-31 00:00:00,12-21,Dec-21,True,False,True,False,True,False,False,False,False,2021-12-09 14:50:00,7 days 23:33:54,7 days,days,0 days 23:33:54,2021-12-31 09:09:00,0 days 00:13:00,21 days 23:00:51,0 days 00:00:00,21 days 23:00:51,22 days 19:31:54,0 days 20:31:03,2 days 02:07:06,0 days 00:40:50,NA,0 days 06:14:10,0 days 17:44:08,0 days 23:58:18,-9 days +19:44:11,13 days 18:45:06,8 days 04:15:49,0 days 20:30:59,NaT,0 days 04:41:51,NaT,NaT,25 days 22:18:08,24 days 22:32:50,NaT,4 days 02:00:06,NaT,NaT,NaT,0 days,0 days,0.0,False,True
3,3,NY-BK,1158579-0,1184913063,00169413602,F,559221,2021-12-10 13:29:00,2021-12-10 13:54:00,2021-12-10 13:54:00,2021-12-22 17:16:00,NaT,NaN,2021-12-22 17:57:00,NaT,NaT,2022-01-09 01:21:07,NY-BK-1158579-0,3352779.0,2021-12-10 13:57:26,2021-12-22 17:16:45,2021-12-10 13:51:58,2022-01-08 11:12:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-10 13:51:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,U->B->U->F,F,NaN,None->D->None,NaN,->N,N,NaN,NaN,2021-12-23 15:56:35,NaT,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CX-REVERSAL,2021-12-22 17:00:36,2021-12-22 17:00:36,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1158579-0,Zone 1,11233.0,2021-12-11 16:32:10,NaN,d30a1ef4,210352.0,NaN,DELETED_ON_ONFLEET,NY-BK,3352779.0,1158579-0,2021-12-15 21:26:07,2021-12-17 17:00:00,2021-12-17 20:00:00,NY-BK,New,NaT,3,3,NaN,NaN,NaN,0d126211-11ac-45c8-b59e-ec2026c0212f,1158579.0,Ready for delivery,46c249ed-307d-4a75-8d54-1367808215ec,f1967c16-407b-11eb-b378-0242ac130002,NaN,Drug Name: 1158579-0,NaN,NaN,0.0,0.00,999999.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2021-12-15 21:24:53,53ef642b-b525-47ff-941d-1f98be24b316,dae11221-7cde-41a7-b522-fe51a448095f,76e9dc10-67b4-412e-b7e8-41bd157c2206,True,NaN,NaN,2021-12-15 21:24:54,2021-12-15 21:24:53,NaN,2021-12-15 21:26:07,NaN,NaN,3352779.0,NaN,1.0,1158579-0,NaN,1.0,2021-12-15 21:25:01,NaN,NaN,NY-BK,5c992202-38d4-466e-9899-8697b705d0f5,2021-12-15 21:25:01,Patient answered,2021-12-15 21:25:01,6c510025-411d-4b22-a3e8-b41316ef07e1,{'taskId': '53ef642b-b525-47ff-941d-1f98be24b3...,sent,2021-12-15 21:26:06,scheduled-delivery,NaN,2021-12-17 17:00:00,2021-12-17 20:00:00,True,True,True,True,False,False,True,False,False,True,True,True,True,11100,Rx without IBD and CFI,2021-12-10 08:29:00-05:00,2021-12-10 08:54:00-05:00,2021-12-10 08:57:26-05:00,2021-12-22 12:16:45-05:00,NaN,NaN,NaN,2021-12-17 12:00:00-05:00,2021-12-17 15:00:00-05:00,NaN,2021-12-15 16:25:01-05:00,2021-12-22 12:16:00-05:00,Rescheduled,1.0,2022-01-10 06:31:22,NY-BK,2021-12-22 17:16:00,12-21,Dec-21,False,False,False,False,False,False,False,False,False,2021-12-10 13:54:00,0 days 00:00:00,0 days,days,0 days 00:00:00,NaT,0 days 00:25:00,0 days 00:03:26,12 days 03:19:19,12 days 03:22:45,12 days 04:03:00,0 days 00:40:15,NaT,NaT,NA,NA,NA,NA,NaT,NaT,NaT,NaT,NaT,NaT,NA,NA,NaT,NaT,NaT,NaT,NaT,NaT,NaT,0 days,0 days,0.0,False,False
4,4,NJ-SO,1198582-0,1437198009,00023916360,B,24019,2021-10-12 16:26:00,2021-10-13 09:38:25,2021-10-13 09:45:00,2021-10-13 09:38:25,2021-10-20,2021-10-20 21:09:54,2021-10-13 14:39:26,2021-10-13 14:39:00,2021-10-13 15:19:06,2022-01-09 01:21:07,NJ-SO-1198582-0,3135868.0,2021-10-13 14:05:14,2021-10-13 14:05:14,2021-10-13 14:05:14,2022-01-08 12:19:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,U->B,B,D,None->D,None->2:32 PM,->Y,Y,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOMERVILLE,2021-10-13,RESTASIS* 0.05% EMUL (00023-9163-60) -ew2831,180.0,0.0,1970.51,7086.0,05-27-1943,AC1,2021-10-12,DORIS,FERMIN,2019814027,2014729358,F,1970.51,24019.0,PICKED UP/DELIVERED,2021-10-21 17:48:19,NaT,NaN,NaT,NaN,BN2110200008,2021-10-20 10:38:00,NaN,NaN,DRIVER 1,(201)472-9358,2014729358,2021-10-20,2021-10-20 10:38:00,2021-10-20 10:38:00,BN2110200008,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1198582-0,Zone 3,7086.0,2021-10-15 12:50:34,2021-10-20 14:42:35,2e7658bf,162640.0,HealthEx Day of Delivery,COMPLETED,NJ-SO,3135868.0,1198582-0,2021-10-15 16:50:32,2021-10-22 20:00:00,2021-10-22 23:00:00,NJ-SO,New,2021-10-20 14:42:35,10,10,NaN,2e7658bf,Delivered,d939a587-ff3c-4287-8c77-400152ab7ca7,1198582.0,Ready for delivery,5ab0036d-09ed-4449-a972-7ef94a8fb1be,f1967c16-407b-11eb-b378-0242ac130002,NaN,Drug Name: 1198582-0,NaN,NaN,0.0,0.00,999999.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2021-10-15 16:49:34,f92a3293-781a-4d5e-ab90-bda75c1e6ab7,dae11221-7cde-41a7-b522-fe51a448095f,07da8775-93d7-45a6-aacb-29961ad016c5,True,NaN,NaN,2021-10-15 16:49:34,2021-10-15 16:49:34,NaN,2021-10-15 16:50:32,NaN,NaN,3135868.0,NaN,2.0,"1198582-0,1198583-0",NaN,1.0,2021-10-15 16:49:43,NaN,NaN,NJ-SO,44f47b22-b1a2-4f57-b44a-245de460395f,2021-10-15 16:49:43,Patient called to schedule,2021-10-15 16:49:43,2761e146-5e46-43df-974f-70f4f6a770f2,{'taskId': 'f92a3293-781a-4d5e-ab90-bda75c1e6a...,sent,2021-10-15 16:50:32,scheduled-delivery,NaN,2021-10-22 20:00:00,2021-10-22 23:00:00,True,True,True,True,False,True,True,True,True,True,True,True,True,11101,Rx without IBD and CFI,2021-10-12 12:26:00-04:00,2021-10-13 05:38:25-04:00,2021-10-13 10:05:14-04:00,2021-10-13 10:05:14-04:00,2021-10-13 10:39:00-04:00,2021-10-13 11:19:06-04:00,NaN,2021-10-22 16:00:00-04:00,2021-10-22 19:00:00-04:00,2021-10-20 10:42:35-04:00,2021-10-15 12:49:43-04:00,2021-10-13 05:38:25-04:00,NaN,NaN,2022-01-10 06:31:22,NJ-SO,2021-10-13 09:38:25,10-21,Oct-21,False,False,False,False,False,False,False,False,False,2021-10-13 09:38:25,0 days 00:00:00,0 days,days,0 days 00:00:00,NaT,0 days 17:12:25,0 days 04:26:49,0 days 00:00:00,0 days 04:26:49,0 days 05:01:01,0 days 00:34:12,-1 days +23:59:34,0 days 00:40:06,NA,6 days 19:18:54,0 days 04:04:35,6 days 23:23:29,NaT,NaT,NaT,NaT,NaT,NaT,6 days 08:40:54,0 days 14:42:35,7 days 05:04:10,0 days 22:53:06,NaT,NaT,NaT,NaT,NaT,0 days,0 days,0.0,False,False

In [26]:
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].astype(str)
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].apply(lambda x: x.replace(',',''))
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].astype(float)

In [27]:
df['trackrx_last_status_new'] = df['trackrx_last_status']
df['trackrx_last_status_new'] = df['trackrx_last_status_new'].replace(['F','T','U'], 'NB')
df['trackrx_last_status_new'] = df['trackrx_last_status_new'].replace(np.nan, 'B')

In [28]:
df['rx_revenue'] = df['TOTALRXAMOUNT']

In [29]:
null_columns = pd.DataFrame(df.isnull().sum()/(len(df.index))*100)
null_columns

                                       0
Unnamed: 0                      0.000000
pharmacy_location               0.000000
rxno                            0.000000
presnpi                         0.036009
ndc                             0.000000
...                                  ...
total_call_2                    0.000000
is_call                         0.000000
total_processing_time_ibd_new   0.000000
trackrx_last_status_new         0.000000
rx_revenue                     39.328441

[277 rows x 1 columns]

In [30]:
## Billed data

In [31]:
df_billed = df[df['trackrx_last_status_new'] == 'B']

In [32]:
#df_billed = df_billed.rename(columns = {'pharmacy_loc': 'pharmacy loc'})

In [33]:
# overall

In [34]:
overall_count = pd.pivot_table(df_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
overall_count.rename(columns = {'rx_code_key_location': 'total_rx'}, inplace=True)
overall_count

  pharmacy_loc  total_rx
0        FL-MI     28111
1        MD-BA      9358
2        NC-RA      9282
3        NJ-SO     51182
4        NY-BK     95738
5        NY-MA     19954
6        PA-PH     21814

In [35]:
# print(df_billed['rx_revenue'].dtype)
df_billed['rx_revenue'] = pd.to_numeric(df_billed['rx_revenue'], errors='coerce').fillna(0)
df_billed['rx_revenue'] = df_billed['rx_revenue'].astype(np.int64)
# print(df_billed['rx_revenue'].isnull().count())

In [36]:
overall_rev_sum = pd.pivot_table(df_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
overall_rev_sum.rename(columns = {'rx_revenue': 'total_revenue'}, inplace=True)
overall_rev_sum

  pharmacy_loc  total_revenue
0        FL-MI        4200368
1        MD-BA        7268774
2        NC-RA        3680757
3        NJ-SO       25137951
4        NY-BK       37290392
5        NY-MA        1568213
6        PA-PH       11172493

In [37]:
overall = pd.merge(overall_count, overall_rev_sum, on='pharmacy_loc', how='left')
overall#.append(overall.sum(axis=0), ignore_index=True).to_clipboard(index=False)

  pharmacy_loc  total_rx  total_revenue
0        FL-MI     28111        4200368
1        MD-BA      9358        7268774
2        NC-RA      9282        3680757
3        NJ-SO     51182       25137951
4        NY-BK     95738       37290392
5        NY-MA     19954        1568213
6        PA-PH     21814       11172493

# rx_without_IBD_and_Call_for_Insurance

In [38]:
rx_without_IBD_and_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == False) & (df['status_callforins_day01_new'] == False)]

# Rx_with_Call_for_Insurance

In [39]:
# Rx_with_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == False) & (df['status_callforins_day01_new'] == True)]
Rx_with_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == False) & ((df['status_callforins_day01'] == 'completed') | (df['status_callforins_day02'] == 'completed') | (df['status_callforins_day03'] == 'completed'))]

# Rx_with_IBD_and_Call_for_Insurance

In [40]:
# Rx_with_IBD_and_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == True) & (df['status_callforins_day01_new'] == True)]
Rx_with_IBD_and_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == True) & ((df['status_callforins_day01'] == 'completed') | (df['status_callforins_day02'] == 'completed') | (df['status_callforins_day03'] == 'completed'))]

rx_to_exclude = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == False) & (df['times_processed_ibd_2K_new'] == False) & (df['total_processing_time_ibd_new'] == False)]
len(rx_to_exclude)

rx_list =  rx_to_exclude['rx_code_key_location'].to_list()

# Rx_with_IBD2 = Rx_with_IBD[~Rx_with_IBD['rx_code_key_location'].isin(rx_list)]
Rx_with_IBD_and_Call_for_Insurance = Rx_with_IBD_and_Call_for_Insurance[~Rx_with_IBD_and_Call_for_Insurance['rx_code_key_location'].isin(rx_list)]

# Rx_with_IBD

In [41]:
Rx_with_IBD = df[(df['trackrx_last_ibdtag_new'] == True) & (df['status_callforins_day01_new'] == False)]

Rx_with_IBD_2d = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == False) & (df['times_processed_ibd_2K_new'] == False) & (df['total_processing_time_ibd_new'] == False)]
len(Rx_with_IBD_2d)

rx_list =  Rx_with_IBD_2d['rx_code_key_location'].to_list()
len(rx_list)

Rx_with_IBD2 = Rx_with_IBD[~Rx_with_IBD['rx_code_key_location'].isin(rx_list)]

In [42]:

Rx_with_IBD_value_less_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == True)]
Rx_with_IBD_value_greater_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_2K_new'] == True)]

# Rx_with_Call_for_Insurance_d1_d2_d3

In [43]:
Rx_with_Call_for_Insurance_d1 = df[(df['status_callforins_day01'] == 'completed') & (pd.isnull(df['status_callforins_day02']) == True) & (pd.isnull(df['status_callforins_day03']) == True)]
Rx_with_Call_for_Insurance_d2 = df[(df['status_callforins_day01'] == 'completed') & (df['status_callforins_day02'] == 'completed') & (pd.isnull(df['status_callforins_day03']) == True)]
Rx_with_Call_for_Insurance_d3 = df[(df['status_callforins_day01'] == 'completed') & (df['status_callforins_day02'] == 'completed') & (df['status_callforins_day03'] == 'completed')]

In [44]:
print(len(df[(df['trackrx_last_ibdtag_new'] == False)]))
print(len(df[(df['status_callforins_day01_new'] == False)]))

293710
305703

In [45]:
# Rx_with_IBD2 = Rx_with_IBD.copy()[~Rx_with_IBD['rx_code_key_location'].isin(rx_list)]

In [46]:
Rx_with_IBD_value_less_2k_11d = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == True) & (df['times_processed_ibd_2K_new'] == True)]
Rx_with_IBD_value_less_2k_11d_list = Rx_with_IBD_value_less_2k_11d['rx_code_key_location']

In [47]:
Rx_with_IBD_value_less_2k_2 = Rx_with_IBD_value_less_2k[~Rx_with_IBD_value_less_2k['rx_code_key_location'].isin(Rx_with_IBD_value_less_2k_11d_list)]

In [48]:
#zipwhip_patient_responded_f_gender[zipwhip_patient_responded_f_gender['PATSEX']=='U']

#nic_calling_data_df[(nic_calling_data_df['Direction'] == 'Outbound') & nic_calling_data_df['Disposition Name'].isin(Disposition_Name_list)]

In [49]:
#rx_without_IBD_and_Call_for_Insurance.drop_duplicates(keep=False,inplace=True)
#rx_without_IBD_and_Call_for_Insurance

In [50]:
print(rx_without_IBD_and_Call_for_Insurance['trackrx_last_ibdtag_new'].value_counts())
print(rx_without_IBD_and_Call_for_Insurance['status_callforins_day01_new'].value_counts())

False    281347
Name: trackrx_last_ibdtag_new, dtype: int64
False    281347
Name: status_callforins_day01_new, dtype: int64

In [51]:
# rx_without_IBD_and_Call_for_Insurance
# Rx_with_Call_for_Insurance
# Rx_with_IBD_and_Call_for_Insurance
# Rx_with_IBD
# Rx_with_IBD_value_less_2k
# Rx_with_IBD_value_greater_2k

In [52]:
# rx_without_IBD_and_Call_for_Insurance_pivot

In [53]:
rx_without_IBD_and_Call_for_Insurance_billed = rx_without_IBD_and_Call_for_Insurance[rx_without_IBD_and_Call_for_Insurance['trackrx_last_status_new'] == 'B']

In [54]:
rx_without_IBD_and_Call_for_Insurance_count_pivot = pd.pivot_table(rx_without_IBD_and_Call_for_Insurance_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
rx_without_IBD_and_Call_for_Insurance_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_without_IBD_and_Call_for_Insurance'}, inplace = True)
rx_without_IBD_and_Call_for_Insurance_count_pivot

  pharmacy_loc  rx_count_without_IBD_and_Call_for_Insurance
0        FL-MI                                        27358
1        MD-BA                                         8450
2        NC-RA                                         8255
3        NJ-SO                                        46594
4        NY-BK                                        90069
5        NY-MA                                        19377
6        PA-PH                                        19080

In [55]:
rx_without_IBD_and_Call_for_Insurance_revenue_pivot = pd.pivot_table(rx_without_IBD_and_Call_for_Insurance_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
rx_without_IBD_and_Call_for_Insurance_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_without_IBD_and_Call_for_Insurance'}, inplace = True)
rx_without_IBD_and_Call_for_Insurance_revenue_pivot

  pharmacy_loc  rx_revenue_without_IBD_and_Call_for_Insurance
0        FL-MI                                     3363611.06
1        MD-BA                                     5746293.87
2        NC-RA                                     2611568.91
3        NJ-SO                                    20307273.70
4        NY-BK                                    32862229.42
5        NY-MA                                     1452927.54
6        PA-PH                                     8944134.82

In [56]:
rx_without_IBD_and_Call_for_Insurance_pivot = pd.merge(rx_without_IBD_and_Call_for_Insurance_count_pivot, rx_without_IBD_and_Call_for_Insurance_revenue_pivot, on='pharmacy_loc', how='left')
rx_without_IBD_and_Call_for_Insurance_pivot

,pharmacy_loc,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance
0,FL-MI,27358,3363611.06
1,MD-BA,8450,5746293.87
2,NC-RA,8255,2611568.91
3,NJ-SO,46594,20307273.70
4,NY-BK,90069,32862229.42
5,NY-MA,19377,1452927.54
6,PA-PH,19080,8944134.82

In [57]:
# Rx_with_Call_for_Insurance_pivot

In [58]:
Rx_with_Call_for_Insurance_billed = Rx_with_Call_for_Insurance[Rx_with_Call_for_Insurance['trackrx_last_status_new']=='B']

In [59]:
Rx_with_Call_for_Insurance_count_pivot = Rx_with_Call_for_Insurance_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_count_pivot

  pharmacy_loc  Rx_count_with_Call_for_Insurance
0        FL-MI                               151
1        MD-BA                               122
2        NC-RA                               364
3        NJ-SO                              1598
4        NY-BK                              2288
5        NY-MA                               238
6        PA-PH                              1586

In [60]:
Rx_with_Call_for_Insurance_revenue_pivot = Rx_with_Call_for_Insurance_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_revenue_pivot

  pharmacy_loc  rx_revenue_with_Call_for_Insurance
0        FL-MI                            75635.14
1        MD-BA                            62418.40
2        NC-RA                            39559.11
3        NJ-SO                           489964.43
4        NY-BK                           577560.62
5        NY-MA                            14175.66
6        PA-PH                           314095.14

In [61]:
Rx_with_Call_for_Insurance_pivot = pd.merge(Rx_with_Call_for_Insurance_count_pivot, Rx_with_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_pivot

,pharmacy_loc,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance
0,FL-MI,151,75635.14
1,MD-BA,122,62418.40
2,NC-RA,364,39559.11
3,NJ-SO,1598,489964.43
4,NY-BK,2288,577560.62
5,NY-MA,238,14175.66
6,PA-PH,1586,314095.14

In [62]:
# Rx_with_IBD_pivot

In [63]:
Rx_with_IBD_billed = Rx_with_IBD2[Rx_with_IBD2['trackrx_last_status_new'] == 'B']

In [64]:
Rx_with_IBD_count_pivot = Rx_with_IBD_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD'}, inplace = True)
Rx_with_IBD_count_pivot

  pharmacy_loc  Rx_count_with_IBD
0        FL-MI                474
1        MD-BA                728
2        NC-RA                484
3        NJ-SO               2430
4        NY-BK               2821
5        NY-MA                306
6        PA-PH                861

In [65]:
Rx_with_IBD_revenue_pivot = Rx_with_IBD_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD'}, inplace = True)
Rx_with_IBD_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD
0        FL-MI            655457.78
1        MD-BA           1362128.63
2        NC-RA            938566.92
3        NJ-SO           3461345.57
4        NY-BK           3433161.52
5        NY-MA            101644.06
6        PA-PH           1675851.77

In [66]:
Rx_with_IBD_pivot = pd.merge(Rx_with_IBD_count_pivot, Rx_with_IBD_revenue_pivot, on = 'pharmacy_loc', how='left')
Rx_with_IBD_pivot

  pharmacy_loc  Rx_count_with_IBD  Rx_revenue_with_IBD
0        FL-MI                474            655457.78
1        MD-BA                728           1362128.63
2        NC-RA                484            938566.92
3        NJ-SO               2430           3461345.57
4        NY-BK               2821           3433161.52
5        NY-MA                306            101644.06
6        PA-PH                861           1675851.77

In [67]:
# Rx_with_IBD_and_Call_for_Insurance_pivot

In [68]:
Rx_with_IBD_and_Call_for_Insurance_billed = Rx_with_IBD_and_Call_for_Insurance[Rx_with_IBD_and_Call_for_Insurance['trackrx_last_status_new'] == 'B']

In [69]:
Rx_with_IBD_and_Call_for_Insurance_count_pivot = Rx_with_IBD_and_Call_for_Insurance_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_and_Call_for_Insurance_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD_and_Call_for_Insurance'}, inplace = True)
Rx_with_IBD_and_Call_for_Insurance_count_pivot

  pharmacy_loc  Rx_count_with_IBD_and_Call_for_Insurance
0        FL-MI                                        33
1        MD-BA                                        47
2        NC-RA                                        29
3        NJ-SO                                       528
4        NY-BK                                       432
5        NY-MA                                        27
6        PA-PH                                       230

In [70]:
Rx_with_IBD_and_Call_for_Insurance_revenue_pivot = Rx_with_IBD_and_Call_for_Insurance_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_and_Call_for_Insurance_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD_and_Call_for_Insurance'}, inplace = True)
Rx_with_IBD_and_Call_for_Insurance_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD_and_Call_for_Insurance
0        FL-MI                                    50444.32
1        MD-BA                                    91670.79
2        NC-RA                                    30833.66
3        NJ-SO                                   866381.19
4        NY-BK                                   434874.29
5        NY-MA                                     5931.16
6        PA-PH                                   216227.81

In [71]:
Rx_with_IBD_and_Call_for_Insurance_pivot = pd.merge(Rx_with_IBD_and_Call_for_Insurance_count_pivot, Rx_with_IBD_and_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how='left')
Rx_with_IBD_and_Call_for_Insurance_pivot

,pharmacy_loc,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance
0,FL-MI,33,50444.32
1,MD-BA,47,91670.79
2,NC-RA,29,30833.66
3,NJ-SO,528,866381.19
4,NY-BK,432,434874.29
5,NY-MA,27,5931.16
6,PA-PH,230,216227.81

In [72]:
# Rx_with_IBD_value_less_2k_pivot

In [73]:
Rx_with_IBD_value_less_2k_billed = Rx_with_IBD_value_less_2k_2[Rx_with_IBD_value_less_2k_2['trackrx_last_status_new']=='B']

In [74]:
Rx_with_IBD_value_less_2k_count_pivot = Rx_with_IBD_value_less_2k_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD_value_less_2k'}, inplace = True)
Rx_with_IBD_value_less_2k_count_pivot

  pharmacy_loc  Rx_count_with_IBD_value_less_2k
0        FL-MI                              518
1        MD-BA                              671
2        NC-RA                              513
3        NJ-SO                             2872
4        NY-BK                             2936
5        NY-MA                              323
6        PA-PH                              995

In [75]:
Rx_with_IBD_value_less_2k_revenue_pivot = Rx_with_IBD_value_less_2k_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD_value_less_2k'}, inplace = True)
Rx_with_IBD_value_less_2k_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD_value_less_2k
0        FL-MI                          733199.08
1        MD-BA                         1008833.66
2        NC-RA                          924228.19
3        NJ-SO                         3988514.59
4        NY-BK                         2519658.46
5        NY-MA                           98467.44
6        PA-PH                         1585896.51

In [76]:
Rx_with_IBD_value_less_2k_pivot = pd.merge(Rx_with_IBD_value_less_2k_count_pivot, Rx_with_IBD_value_less_2k_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_less_2k_pivot

,pharmacy_loc,Rx_count_with_IBD_value_less_2k,Rx_revenue_with_IBD_value_less_2k
0,FL-MI,518,733199.08
1,MD-BA,671,1008833.66
2,NC-RA,513,924228.19
3,NJ-SO,2872,3988514.59
4,NY-BK,2936,2519658.46
5,NY-MA,323,98467.44
6,PA-PH,995,1585896.51

In [77]:
# Rx_with_IBD_value_greater_2k_pivot

In [78]:
Rx_with_IBD_value_greater_2k_billed = Rx_with_IBD_value_greater_2k[Rx_with_IBD_value_greater_2k['trackrx_last_status_new']=='B']

In [79]:
Rx_with_IBD_value_greater_2k_count_pivot = Rx_with_IBD_value_greater_2k_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD_value_greater_2k'}, inplace = True)
Rx_with_IBD_value_greater_2k_count_pivot

  pharmacy_loc  Rx_count_with_IBD_value_greater_2k
0        MD-BA                                 101
1        NC-RA                                  13
2        NJ-SO                                  81
3        NY-BK                                 312
4        NY-MA                                  10
5        PA-PH                                  89

In [80]:
Rx_with_IBD_value_greater_2k_revenue_pivot = Rx_with_IBD_value_greater_2k_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD_value_greater_2k'}, inplace = True)
Rx_with_IBD_value_greater_2k_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD_value_greater_2k
0        MD-BA                             442298.93
1        NC-RA                              72871.67
2        NJ-SO                             332410.32
3        NY-BK                            1351954.19
4        NY-MA                               9107.78
5        PA-PH                             274674.46

In [81]:
Rx_with_IBD_value_greater_2k_pivot = pd.merge(Rx_with_IBD_value_greater_2k_count_pivot, Rx_with_IBD_value_greater_2k_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_greater_2k_pivot

,pharmacy_loc,Rx_count_with_IBD_value_greater_2k,Rx_revenue_with_IBD_value_greater_2k
0,MD-BA,101,442298.93
1,NC-RA,13,72871.67
2,NJ-SO,81,332410.32
3,NY-BK,312,1351954.19
4,NY-MA,10,9107.78
5,PA-PH,89,274674.46

In [82]:
# Rx_with_Call_for_Insurance_d1

In [83]:
Rx_with_Call_for_Insurance_d1_billed = Rx_with_Call_for_Insurance_d1[Rx_with_Call_for_Insurance_d1['trackrx_last_status_new']=='B']

In [84]:
Rx_with_Call_for_Insurance_d1_count_pivot = Rx_with_Call_for_Insurance_d1_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_d1_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_with_D1_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d1_count_pivot

  pharmacy_loc  rx_count_with_D1_Call_for_Insurance
0        FL-MI                                  113
1        MD-BA                                   93
2        NC-RA                                  356
3        NJ-SO                                 1157
4        NY-BK                                 1432
5        NY-MA                                  164
6        PA-PH                                  693

In [85]:
Rx_with_Call_for_Insurance_d1_revenue_pivot = Rx_with_Call_for_Insurance_d1_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_d1_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_D1_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d1_revenue_pivot

  pharmacy_loc  rx_revenue_with_D1_Call_for_Insurance
0        FL-MI                               93792.26
1        MD-BA                               80929.89
2        NC-RA                               69472.95
3        NJ-SO                              796961.33
4        NY-BK                              515356.62
5        NY-MA                               10858.55
6        PA-PH                              246101.74

In [86]:
Rx_with_Call_for_Insurance_d1_pivot = pd.merge(Rx_with_Call_for_Insurance_d1_count_pivot, Rx_with_Call_for_Insurance_d1_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_d1_pivot

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance
0,FL-MI,113,93792.26
1,MD-BA,93,80929.89
2,NC-RA,356,69472.95
3,NJ-SO,1157,796961.33
4,NY-BK,1432,515356.62
5,NY-MA,164,10858.55
6,PA-PH,693,246101.74

In [87]:
# Rx_with_Call_for_Insurance_d2

In [88]:
Rx_with_Call_for_Insurance_d2_billed = Rx_with_Call_for_Insurance_d2[Rx_with_Call_for_Insurance_d2['trackrx_last_status_new']=='B']

In [89]:

Rx_with_Call_for_Insurance_d2_count_pivot = Rx_with_Call_for_Insurance_d2_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_d2_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_with_D2_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d2_count_pivot

  pharmacy_loc  rx_count_with_D2_Call_for_Insurance
0        MD-BA                                   46
1        NC-RA                                   21
2        NJ-SO                                  534
3        NY-BK                                  708
4        NY-MA                                   65
5        PA-PH                                  560

In [90]:
Rx_with_Call_for_Insurance_d2_revenue_pivot = Rx_with_Call_for_Insurance_d2_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_d2_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_D2_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d2_revenue_pivot

  pharmacy_loc  rx_revenue_with_D2_Call_for_Insurance
0        MD-BA                               56179.62
1        NC-RA                                 582.57
2        NJ-SO                              360530.58
3        NY-BK                              266323.07
4        NY-MA                                5268.72
5        PA-PH                              148287.78

In [91]:
Rx_with_Call_for_Insurance_d2_pivot = pd.merge(Rx_with_Call_for_Insurance_d2_count_pivot, Rx_with_Call_for_Insurance_d2_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_d2_pivot

,pharmacy_loc,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance
0,MD-BA,46,56179.62
1,NC-RA,21,582.57
2,NJ-SO,534,360530.58
3,NY-BK,708,266323.07
4,NY-MA,65,5268.72
5,PA-PH,560,148287.78

In [92]:
# Rx_with_Call_for_Insurance_d3

In [93]:
Rx_with_Call_for_Insurance_d3_billed = Rx_with_Call_for_Insurance_d3[Rx_with_Call_for_Insurance_d3['trackrx_last_status_new']=='B']

In [94]:


Rx_with_Call_for_Insurance_d3_count_pivot = Rx_with_Call_for_Insurance_d3_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_d3_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_with_D3_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d3_count_pivot

  pharmacy_loc  rx_count_with_D3_Call_for_Insurance
0        MD-BA                                   26
1        NC-RA                                   11
2        NJ-SO                                  408
3        NY-BK                                  367
4        NY-MA                                   30
5        PA-PH                                  486

In [95]:
Rx_with_Call_for_Insurance_d3_revenue_pivot = Rx_with_Call_for_Insurance_d3_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_d3_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_D3_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d3_revenue_pivot

  pharmacy_loc  rx_revenue_with_D3_Call_for_Insurance
0        MD-BA                               15686.58
1        NC-RA                                   0.00
2        NJ-SO                              188315.73
3        NY-BK                              164019.34
4        NY-MA                                3700.98
5        PA-PH                              125731.39

In [96]:
Rx_with_Call_for_Insurance_d3_pivot = pd.merge(Rx_with_Call_for_Insurance_d3_count_pivot, Rx_with_Call_for_Insurance_d3_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_d3_pivot

,pharmacy_loc,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,MD-BA,26,15686.58
1,NC-RA,11,0.00
2,NJ-SO,408,188315.73
3,NY-BK,367,164019.34
4,NY-MA,30,3700.98
5,PA-PH,486,125731.39

In [97]:
pharmacy_location_wise_rx_count_revenue1 = pd.merge(overall, rx_without_IBD_and_Call_for_Insurance_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue2 = pd.merge(pharmacy_location_wise_rx_count_revenue1, Rx_with_Call_for_Insurance_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue3 = pd.merge(pharmacy_location_wise_rx_count_revenue2, Rx_with_Call_for_Insurance_d2_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue4 = pd.merge(pharmacy_location_wise_rx_count_revenue3, Rx_with_Call_for_Insurance_d3_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue5 = pd.merge(pharmacy_location_wise_rx_count_revenue4, Rx_with_IBD_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue6 = pd.merge(pharmacy_location_wise_rx_count_revenue5, Rx_with_IBD_and_Call_for_Insurance_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue7 = pd.merge(pharmacy_location_wise_rx_count_revenue6, Rx_with_IBD_value_less_2k_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue8 = pd.merge(pharmacy_location_wise_rx_count_revenue7, Rx_with_IBD_value_greater_2k_pivot, on = 'pharmacy_loc', how = 'left')



# Rx_with_IBD_value_greater_2k_pivot

# Rx_with_IBD_value_less_2k_pivot
# Rx_with_IBD_and_Call_for_Insurance_pivot
# Rx_with_IBD_pivot
# Rx_with_Call_for_Insurance_pivot
# rx_without_IBD_and_Call_for_Insurance_pivot
# overall
pharmacy_location_wise_rx_count_revenue8

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_value_less_2k,Rx_revenue_with_IBD_value_less_2k,Rx_count_with_IBD_value_greater_2k,Rx_revenue_with_IBD_value_greater_2k
0,FL-MI,28111,4200368,27358,3363611.06,151,75635.14,NaN,NaN,NaN,NaN,474,655457.78,33,50444.32,518,733199.08,NaN,NaN
1,MD-BA,9358,7268774,8450,5746293.87,122,62418.40,46.0,56179.62,26.0,15686.58,728,1362128.63,47,91670.79,671,1008833.66,101.0,442298.93
2,NC-RA,9282,3680757,8255,2611568.91,364,39559.11,21.0,582.57,11.0,0.00,484,938566.92,29,30833.66,513,924228.19,13.0,72871.67
3,NJ-SO,51182,25137951,46594,20307273.70,1598,489964.43,534.0,360530.58,408.0,188315.73,2430,3461345.57,528,866381.19,2872,3988514.59,81.0,332410.32
4,NY-BK,95738,37290392,90069,32862229.42,2288,577560.62,708.0,266323.07,367.0,164019.34,2821,3433161.52,432,434874.29,2936,2519658.46,312.0,1351954.19
5,NY-MA,19954,1568213,19377,1452927.54,238,14175.66,65.0,5268.72,30.0,3700.98,306,101644.06,27,5931.16,323,98467.44,10.0,9107.78
6,PA-PH,21814,11172493,19080,8944134.82,1586,314095.14,560.0,148287.78,486.0,125731.39,861,1675851.77,230,216227.81,995,1585896.51,89.0,274674.46

In [98]:
pharmacy_location_wise_rx_count_revenue8 = pharmacy_location_wise_rx_count_revenue8.append(pharmacy_location_wise_rx_count_revenue8.sum(axis=0), ignore_index = True)
pharmacy_location_wise_rx_count_revenue8.iloc[[len(pharmacy_location_wise_rx_count_revenue8)-1],[0]] = 'Overall'
pharmacy_location_wise_rx_count_revenue8['total_revenue'] = pharmacy_location_wise_rx_count_revenue8['total_revenue'].astype(int)
pharmacy_location_wise_rx_count_revenue8

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_value_less_2k,Rx_revenue_with_IBD_value_less_2k,Rx_count_with_IBD_value_greater_2k,Rx_revenue_with_IBD_value_greater_2k
0,FL-MI,28111,4200368,27358,3363611.06,151,75635.14,NaN,NaN,NaN,NaN,474,655457.78,33,50444.32,518,733199.08,NaN,NaN
1,MD-BA,9358,7268774,8450,5746293.87,122,62418.40,46.0,56179.62,26.0,15686.58,728,1362128.63,47,91670.79,671,1008833.66,101.0,442298.93
2,NC-RA,9282,3680757,8255,2611568.91,364,39559.11,21.0,582.57,11.0,0.00,484,938566.92,29,30833.66,513,924228.19,13.0,72871.67
3,NJ-SO,51182,25137951,46594,20307273.70,1598,489964.43,534.0,360530.58,408.0,188315.73,2430,3461345.57,528,866381.19,2872,3988514.59,81.0,332410.32
4,NY-BK,95738,37290392,90069,32862229.42,2288,577560.62,708.0,266323.07,367.0,164019.34,2821,3433161.52,432,434874.29,2936,2519658.46,312.0,1351954.19
5,NY-MA,19954,1568213,19377,1452927.54,238,14175.66,65.0,5268.72,30.0,3700.98,306,101644.06,27,5931.16,323,98467.44,10.0,9107.78
6,PA-PH,21814,11172493,19080,8944134.82,1586,314095.14,560.0,148287.78,486.0,125731.39,861,1675851.77,230,216227.81,995,1585896.51,89.0,274674.46
7,Overall,235439,90318948,219183,75288039.32,6347,1573408.50,1934.0,837172.34,1328.0,497454.02,8104,11628156.25,1326,1696363.22,8828,10858797.93,606.0,2483317.35

In [99]:
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8[['pharmacy_loc', 'total_rx', 'total_revenue', 'rx_count_without_IBD_and_Call_for_Insurance', 'rx_revenue_without_IBD_and_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'Rx_count_with_IBD', 'Rx_revenue_with_IBD', 'Rx_count_with_IBD_and_Call_for_Insurance', 'Rx_revenue_with_IBD_and_Call_for_Insurance']]
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data.fillna(0)
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance
0,FL-MI,28111,4200368,27358,3363611.06,151,75635.14,474,655457.78,33,50444.32
1,MD-BA,9358,7268774,8450,5746293.87,122,62418.40,728,1362128.63,47,91670.79
2,NC-RA,9282,3680757,8255,2611568.91,364,39559.11,484,938566.92,29,30833.66
3,NJ-SO,51182,25137951,46594,20307273.70,1598,489964.43,2430,3461345.57,528,866381.19
4,NY-BK,95738,37290392,90069,32862229.42,2288,577560.62,2821,3433161.52,432,434874.29
5,NY-MA,19954,1568213,19377,1452927.54,238,14175.66,306,101644.06,27,5931.16
6,PA-PH,21814,11172493,19080,8944134.82,1586,314095.14,861,1675851.77,230,216227.81
7,Overall,235439,90318948,219183,75288039.32,6347,1573408.50,8104,11628156.25,1326,1696363.22

In [100]:
for i in pharmacy_location_wise_rx_count_revenue8_IBD_RX_data.columns[1:]:
    pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[i] = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[i].astype(int)

In [101]:
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance
0,FL-MI,28111,4200368,27358,3363611,151,75635,474,655457,33,50444
1,MD-BA,9358,7268774,8450,5746293,122,62418,728,1362128,47,91670
2,NC-RA,9282,3680757,8255,2611568,364,39559,484,938566,29,30833
3,NJ-SO,51182,25137951,46594,20307273,1598,489964,2430,3461345,528,866381
4,NY-BK,95738,37290392,90069,32862229,2288,577560,2821,3433161,432,434874
5,NY-MA,19954,1568213,19377,1452927,238,14175,306,101644,27,5931
6,PA-PH,21814,11172493,19080,8944134,1586,314095,861,1675851,230,216227
7,Overall,235439,90318948,219183,75288039,6347,1573408,8104,11628156,1326,1696363

In [102]:
# Count
pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[['pharmacy_loc', 'total_rx', 'rx_count_without_IBD_and_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance', 'Rx_count_with_IBD', 'Rx_count_with_IBD_and_Call_for_Insurance']]
#pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_IBD_RX_data.rename(columns = {'pharmacy_loc': 'pharmacy loc'})
pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_IBD_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_IBD_RX_data[pharmacy_location_wise_rx_count_IBD_RX_data.columns[:]].div(6,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,Rx_count_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,4685,4559,25,79,5
MD-BA,1559,1408,20,121,7
NC-RA,1547,1375,60,80,4
NJ-SO,8530,7765,266,405,88
NY-BK,15956,15011,381,470,72
NY-MA,3325,3229,39,51,4
PA-PH,3635,3180,264,143,38
Overall,39239,36530,1057,1350,221

In [103]:
pharmacy_location_wise_rx_count_IBD_RX_data['total_rx'] = pharmacy_location_wise_rx_count_IBD_RX_data[['rx_count_without_IBD_and_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance', 'Rx_count_with_IBD', 'Rx_count_with_IBD_and_Call_for_Insurance']].sum(axis = 1)
pharmacy_location_wise_rx_count_IBD_RX_data

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,Rx_count_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,4668,4559,25,79,5
MD-BA,1556,1408,20,121,7
NC-RA,1519,1375,60,80,4
NJ-SO,8524,7765,266,405,88
NY-BK,15934,15011,381,470,72
NY-MA,3323,3229,39,51,4
PA-PH,3625,3180,264,143,38
Overall,39158,36530,1057,1350,221

In [104]:
pharmacy_location_wise_rx_count_IBD_RX_data['rx_count_without_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['rx_count_without_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_Call_for_Insurance']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,Rx_count_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,rx_count_without_IBD_and_Call_for_Insurance_%,Rx_count_with_Call_for_Insurance_%,Rx_count_with_IBD_%,Rx_count_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,4668,4559,25,79,5,98,1,2,0
MD-BA,1556,1408,20,121,7,90,1,8,0
NC-RA,1519,1375,60,80,4,91,4,5,0
NJ-SO,8524,7765,266,405,88,91,3,5,1
NY-BK,15934,15011,381,470,72,94,2,3,0
NY-MA,3323,3229,39,51,4,97,1,2,0
PA-PH,3625,3180,264,143,38,88,7,4,1
Overall,39158,36530,1057,1350,221,93,3,3,1

In [105]:
pharmacy_location_wise_rx_count_IBD_RX_data_final = pharmacy_location_wise_rx_count_IBD_RX_data[['total_rx', 'rx_count_without_IBD_and_Call_for_Insurance', 'rx_count_without_IBD_and_Call_for_Insurance_%', 'Rx_count_with_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance_%', 'Rx_count_with_IBD', 'Rx_count_with_IBD_%', 'Rx_count_with_IBD_and_Call_for_Insurance', 'Rx_count_with_IBD_and_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_count_IBD_RX_data_final = pharmacy_location_wise_rx_count_IBD_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_IBD_RX_data_final

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,rx_count_without_IBD_and_Call_for_Insurance_%,Rx_count_with_Call_for_Insurance,Rx_count_with_Call_for_Insurance_%,Rx_count_with_IBD,Rx_count_with_IBD_%,Rx_count_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,4668,4559,98,25,1,79,2,5,0
MD-BA,1556,1408,90,20,1,121,8,7,0
NC-RA,1519,1375,91,60,4,80,5,4,0
NJ-SO,8524,7765,91,266,3,405,5,88,1
NY-BK,15934,15011,94,381,2,470,3,72,0
NY-MA,3323,3229,97,39,1,51,2,4,0
PA-PH,3625,3180,88,264,7,143,4,38,1
Overall,39158,36530,93,1057,3,1350,3,221,1

In [106]:
pharmacy_location_wise_rx_count_IBD_RX_data_final

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,rx_count_without_IBD_and_Call_for_Insurance_%,Rx_count_with_Call_for_Insurance,Rx_count_with_Call_for_Insurance_%,Rx_count_with_IBD,Rx_count_with_IBD_%,Rx_count_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,4668,4559,98,25,1,79,2,5,0
MD-BA,1556,1408,90,20,1,121,8,7,0
NC-RA,1519,1375,91,60,4,80,5,4,0
NJ-SO,8524,7765,91,266,3,405,5,88,1
NY-BK,15934,15011,94,381,2,470,3,72,0
NY-MA,3323,3229,97,39,1,51,2,4,0
PA-PH,3625,3180,88,264,7,143,4,38,1
Overall,39158,36530,93,1057,3,1350,3,221,1

In [107]:
pharmacy_location_wise_rx_count_IBD_RX_data_final = pharmacy_location_wise_rx_count_IBD_RX_data_final.rename(columns = {'total_rx': 'Total Rx', 'rx_count_without_IBD_and_Call_for_Insurance': 'Rx Without IBD and Call for Insurance(CFI)',  'rx_count_without_IBD_and_Call_for_Insurance_%': '%', 'Rx_count_with_Call_for_Insurance' : 'Rx with Only Call for Insurance', 'Rx_count_with_Call_for_Insurance_%' : ' %', 'Rx_count_with_IBD' : 'Rx with Only IBD',\
                                                                    'Rx_count_with_IBD_%' : '% ', 'Rx_count_with_IBD_and_Call_for_Insurance' : 'Rx with IBD and Call for Insurance Both', 'Rx_count_with_IBD_and_Call_for_Insurance_%':' % '})
pharmacy_location_wise_rx_count_IBD_RX_data_final

,Total Rx,Rx Without IBD and Call for Insurance(CFI),%,Rx with Only Call for Insurance,%,Rx with Only IBD,%,Rx with IBD and Call for Insurance Both,%
pharmacy_loc,,,,,,,,,
FL-MI,4668,4559,98,25,1,79,2,5,0
MD-BA,1556,1408,90,20,1,121,8,7,0
NC-RA,1519,1375,91,60,4,80,5,4,0
NJ-SO,8524,7765,91,266,3,405,5,88,1
NY-BK,15934,15011,94,381,2,470,3,72,0
NY-MA,3323,3229,97,39,1,51,2,4,0
PA-PH,3625,3180,88,264,7,143,4,38,1
Overall,39158,36530,93,1057,3,1350,3,221,1

In [108]:
subset_value = (pharmacy_location_wise_rx_count_IBD_RX_data_final.index.tolist()[:-1],['Rx Without IBD and Call for Insurance(CFI)', 'Rx with Only Call for Insurance', 'Rx with Only IBD', 'Rx with IBD and Call for Insurance Both'])
#print(u[:-1])
df_style1 = pharmacy_location_wise_rx_count_IBD_RX_data_final.style.set_properties(**body_design3).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}").set_table_styles([ dict(selector='th', props=[('text-align', 'center')] )])
df_style1.set_table_styles([border_design])
df_style1

In [109]:
dfi.export(df_style1, ibd_images+'pharmacy_location_wise_rx_count_ibd_rx_data_final.png')

In [110]:
# revenue
pharmacy_location_wise_rx_revenue_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[['pharmacy_loc', 'total_revenue', 'rx_revenue_without_IBD_and_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'Rx_revenue_with_IBD', 'Rx_revenue_with_IBD_and_Call_for_Insurance']]
pharmacy_location_wise_rx_revenue_IBD_RX_data = pharmacy_location_wise_rx_revenue_IBD_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_IBD_RX_data = pharmacy_location_wise_rx_revenue_IBD_RX_data[pharmacy_location_wise_rx_revenue_IBD_RX_data.columns[:]].div(6,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data

,total_revenue,rx_revenue_without_IBD_and_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_revenue_with_IBD,Rx_revenue_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,700061,560601,12605,109242,8407
MD-BA,1211462,957715,10403,227021,15278
NC-RA,613459,435261,6593,156427,5138
NJ-SO,4189658,3384545,81660,576890,144396
NY-BK,6215065,5477038,96260,572193,72479
NY-MA,261368,242154,2362,16940,988
PA-PH,1862082,1490689,52349,279308,36037
Overall,15053158,12548006,262234,1938026,282727

In [111]:
pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue'] = pharmacy_location_wise_rx_revenue_IBD_RX_data[['rx_revenue_without_IBD_and_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'Rx_revenue_with_IBD', 'Rx_revenue_with_IBD_and_Call_for_Insurance']].sum(axis=1)
pharmacy_location_wise_rx_revenue_IBD_RX_data

,total_revenue,rx_revenue_without_IBD_and_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_revenue_with_IBD,Rx_revenue_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,690855,560601,12605,109242,8407
MD-BA,1210417,957715,10403,227021,15278
NC-RA,603419,435261,6593,156427,5138
NJ-SO,4187491,3384545,81660,576890,144396
NY-BK,6217970,5477038,96260,572193,72479
NY-MA,262444,242154,2362,16940,988
PA-PH,1858383,1490689,52349,279308,36037
Overall,15030993,12548006,262234,1938026,282727

In [112]:
pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_without_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_without_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_with_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_with_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)


pharmacy_location_wise_rx_revenue_IBD_RX_data

,total_revenue,rx_revenue_without_IBD_and_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_revenue_with_IBD,Rx_revenue_with_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance_%,rx_revenue_with_Call_for_Insurance_%,Rx_revenue_with_IBD_%,Rx_revenue_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,690855,560601,12605,109242,8407,81,2,16,1
MD-BA,1210417,957715,10403,227021,15278,79,1,19,1
NC-RA,603419,435261,6593,156427,5138,72,1,26,1
NJ-SO,4187491,3384545,81660,576890,144396,81,2,14,3
NY-BK,6217970,5477038,96260,572193,72479,88,2,9,1
NY-MA,262444,242154,2362,16940,988,92,1,6,0
PA-PH,1858383,1490689,52349,279308,36037,80,3,15,2
Overall,15030993,12548006,262234,1938026,282727,83,2,13,2

In [113]:
pharmacy_location_wise_rx_revenue_IBD_RX_data_final = pharmacy_location_wise_rx_revenue_IBD_RX_data[['total_revenue', 'rx_revenue_without_IBD_and_Call_for_Insurance', 'rx_revenue_without_IBD_and_Call_for_Insurance_%', 'rx_revenue_with_Call_for_Insurance','rx_revenue_with_Call_for_Insurance_%', 'Rx_revenue_with_IBD', 'Rx_revenue_with_IBD_%', 'Rx_revenue_with_IBD_and_Call_for_Insurance', 'Rx_revenue_with_IBD_and_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_revenue_IBD_RX_data_final = pharmacy_location_wise_rx_revenue_IBD_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_IBD_RX_data_final = pharmacy_location_wise_rx_revenue_IBD_RX_data_final.rename(columns = {'total_revenue': 'Total Revenue($)', 'rx_revenue_without_IBD_and_Call_for_Insurance' : 'Revenue from rx without IBD or Call for Insurance($)', 'rx_revenue_without_IBD_and_Call_for_Insurance_%' : '%',  'rx_revenue_with_Call_for_Insurance' : 'Revenue from Rx with Call for Insurance($)', 'rx_revenue_with_Call_for_Insurance_%': ' %', 'Rx_revenue_with_IBD' : 'Revenue from Rx with IBD($)', 'Rx_revenue_with_IBD_%' : '% ', 'Rx_revenue_with_IBD_and_Call_for_Insurance' : 'Revenue from Rx with IBD and Call for Insurance both($)', 'Rx_revenue_with_IBD_and_Call_for_Insurance_%': ' % '})
pharmacy_location_wise_rx_revenue_IBD_RX_data_final

,Total Revenue($),Revenue from rx without IBD or Call for Insurance($),%,Revenue from Rx with Call for Insurance($),%,Revenue from Rx with IBD($),%,Revenue from Rx with IBD and Call for Insurance both($),%
pharmacy_loc,,,,,,,,,
FL-MI,690855,560601,81,12605,2,109242,16,8407,1
MD-BA,1210417,957715,79,10403,1,227021,19,15278,1
NC-RA,603419,435261,72,6593,1,156427,26,5138,1
NJ-SO,4187491,3384545,81,81660,2,576890,14,144396,3
NY-BK,6217970,5477038,88,96260,2,572193,9,72479,1
NY-MA,262444,242154,92,2362,1,16940,6,988,0
PA-PH,1858383,1490689,80,52349,3,279308,15,36037,2
Overall,15030993,12548006,83,262234,2,1938026,13,282727,2

In [114]:
subset_value = (pharmacy_location_wise_rx_revenue_IBD_RX_data_final.index.to_list()[:-1], ['Revenue from rx without IBD or Call for Insurance($)', 'Revenue from Rx with Call for Insurance($)', 'Revenue from Rx with IBD($)', 'Revenue from Rx with IBD and Call for Insurance both($)'])

df_style2 = pharmacy_location_wise_rx_revenue_IBD_RX_data_final.style.set_properties(**body_design3).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
df_style2.set_table_styles([border_design])
dfi.export(df_style2, ibd_images+'pharmacy_location_wise_rx_revenue_IBD_RX_data_final.png')
df_style2

In [115]:
ibd_images

'C:\\Users\\vidhi.mittal\\Documents\\Automation\\MBR_3\\OPS_MBR_Github\\ops_mbr\\RX\\automation\\AUTOMATION_ibd\\images\\'

In [116]:
# call for insurance

In [117]:
pharmacy_location_wise_call_for_ins_rx_count_revenue1 = pd.merge(Rx_with_Call_for_Insurance_d1_pivot, Rx_with_Call_for_Insurance_d2_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_call_for_ins_rx_count_revenue2 = pd.merge(pharmacy_location_wise_call_for_ins_rx_count_revenue1, Rx_with_Call_for_Insurance_d3_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_call_for_ins_rx_count_revenue2.fillna(0, inplace = True)
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,113,93792.26,0.0,0.00,0.0,0.00
1,MD-BA,93,80929.89,46.0,56179.62,26.0,15686.58
2,NC-RA,356,69472.95,21.0,582.57,11.0,0.00
3,NJ-SO,1157,796961.33,534.0,360530.58,408.0,188315.73
4,NY-BK,1432,515356.62,708.0,266323.07,367.0,164019.34
5,NY-MA,164,10858.55,65.0,5268.72,30.0,3700.98
6,PA-PH,693,246101.74,560.0,148287.78,486.0,125731.39

In [118]:
# pharmacy_location_wise_call_for_ins_rx_count_revenue2 = pd.merge(, on = 'pharmacy_loc', how = 'left')

In [119]:
# pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data = pharmacy_location_wise_rx_count_revenue8[['pharmacy_loc','Rx_count_with_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance', 'rx_revenue_with_D2_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance', 'rx_revenue_with_D3_Call_for_Insurance']]
# pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data = pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data.fillna(0)
# pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data

In [120]:
for i in pharmacy_location_wise_call_for_ins_rx_count_revenue2.columns[1:]:
    pharmacy_location_wise_call_for_ins_rx_count_revenue2[i] = pharmacy_location_wise_call_for_ins_rx_count_revenue2[i].astype(int)

In [121]:
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,113,93792,0,0,0,0
1,MD-BA,93,80929,46,56179,26,15686
2,NC-RA,356,69472,21,582,11,0
3,NJ-SO,1157,796961,534,360530,408,188315
4,NY-BK,1432,515356,708,266323,367,164019
5,NY-MA,164,10858,65,5268,30,3700
6,PA-PH,693,246101,560,148287,486,125731

In [122]:
pharmacy_location_wise_call_for_ins_rx_count_revenue2 = pharmacy_location_wise_call_for_ins_rx_count_revenue2.append(pharmacy_location_wise_call_for_ins_rx_count_revenue2.sum(axis=0), ignore_index = True)
pharmacy_location_wise_call_for_ins_rx_count_revenue2.iloc[[len(pharmacy_location_wise_call_for_ins_rx_count_revenue2)-1],[0]] = 'Overall'
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,113,93792,0,0,0,0
1,MD-BA,93,80929,46,56179,26,15686
2,NC-RA,356,69472,21,582,11,0
3,NJ-SO,1157,796961,534,360530,408,188315
4,NY-BK,1432,515356,708,266323,367,164019
5,NY-MA,164,10858,65,5268,30,3700
6,PA-PH,693,246101,560,148287,486,125731
7,Overall,4008,1813469,1934,837169,1328,497451

In [123]:
# call for insuranace count
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_call_for_ins_rx_count_revenue2[['pharmacy_loc', 'rx_count_with_D1_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance']]
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_rx_count_callforIns_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_rx_count_callforIns_RX_data[pharmacy_location_wise_rx_count_callforIns_RX_data.columns[:]].div(6,0).astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data

,rx_count_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance
pharmacy_loc,,,
FL-MI,18,0,0
MD-BA,15,7,4
NC-RA,59,3,1
NJ-SO,192,89,68
NY-BK,238,118,61
NY-MA,27,10,5
PA-PH,115,93,81
Overall,668,322,221

In [124]:
pharmacy_location_wise_rx_count_callforIns_RX_data['total_count'] = pharmacy_location_wise_rx_count_callforIns_RX_data[['rx_count_with_D1_Call_for_Insurance','rx_count_with_D2_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance']].sum(axis=1)
pharmacy_location_wise_rx_count_callforIns_RX_data

,rx_count_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,total_count
pharmacy_loc,,,,
FL-MI,18,0,0,18
MD-BA,15,7,4,26
NC-RA,59,3,1,63
NJ-SO,192,89,68,349
NY-BK,238,118,61,417
NY-MA,27,10,5,42
PA-PH,115,93,81,289
Overall,668,322,221,1211

In [125]:
pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D1_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D1_Call_for_Insurance']/pharmacy_location_wise_rx_count_callforIns_RX_data['total_count']*100,0)#.astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D2_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D2_Call_for_Insurance']/pharmacy_location_wise_rx_count_callforIns_RX_data['total_count']*100,0)#.astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D3_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D3_Call_for_Insurance']/pharmacy_location_wise_rx_count_callforIns_RX_data['total_count']*100,0)#.astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_rx_count_callforIns_RX_data.fillna(0)
for i in pharmacy_location_wise_rx_count_callforIns_RX_data:
    pharmacy_location_wise_rx_count_callforIns_RX_data[i] = pharmacy_location_wise_rx_count_callforIns_RX_data[i].astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data

,rx_count_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,total_count,rx_count_with_D1_Call_for_Insurance_%,rx_count_with_D2_Call_for_Insurance_%,rx_count_with_D3_Call_for_Insurance_%
pharmacy_loc,,,,,,,
FL-MI,18,0,0,18,100,0,0
MD-BA,15,7,4,26,58,27,15
NC-RA,59,3,1,63,94,5,2
NJ-SO,192,89,68,349,55,26,19
NY-BK,238,118,61,417,57,28,15
NY-MA,27,10,5,42,64,24,12
PA-PH,115,93,81,289,40,32,28
Overall,668,322,221,1211,55,27,18

In [126]:
pharmacy_location_wise_rx_count_callforIns_RX_data_final = pharmacy_location_wise_rx_count_callforIns_RX_data[['total_count', 'rx_count_with_D1_Call_for_Insurance', 'rx_count_with_D1_Call_for_Insurance_%','rx_count_with_D2_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance_%','rx_count_with_D3_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_count_callforIns_RX_data_final = pharmacy_location_wise_rx_count_callforIns_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_callforIns_RX_data_final = pharmacy_location_wise_rx_count_callforIns_RX_data_final.rename(columns = {'total_count' : 'Total Rx', 'rx_count_with_D1_Call_for_Insurance': 'Rx with Call for Insurance on Day 1',\
                                                                                                                                      'rx_count_with_D1_Call_for_Insurance_%' : '%', 'rx_count_with_D2_Call_for_Insurance' : 'Rx with Call for Insurance on Day 2', 'rx_count_with_D2_Call_for_Insurance_%' : ' %', 'rx_count_with_D3_Call_for_Insurance' : 'Rx with Call for Insurance on Day 3', 'rx_count_with_D3_Call_for_Insurance_%': '% '})
pharmacy_location_wise_rx_count_callforIns_RX_data_final

,Total Rx,Rx with Call for Insurance on Day 1,%,Rx with Call for Insurance on Day 2,%,Rx with Call for Insurance on Day 3,%
pharmacy_loc,,,,,,,
FL-MI,18,18,100,0,0,0,0
MD-BA,26,15,58,7,27,4,15
NC-RA,63,59,94,3,5,1,2
NJ-SO,349,192,55,89,26,68,19
NY-BK,417,238,57,118,28,61,15
NY-MA,42,27,64,10,24,5,12
PA-PH,289,115,40,93,32,81,28
Overall,1211,668,55,322,27,221,18

In [127]:
subset_value = (pharmacy_location_wise_rx_count_callforIns_RX_data_final.index.to_list()[:-1], ['Rx with Call for Insurance on Day 1', 'Rx with Call for Insurance on Day 2', 'Rx with Call for Insurance on Day 3'])
df_style3 = pharmacy_location_wise_rx_count_callforIns_RX_data_final.style.set_properties(**body_design3).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
df_style3.set_table_styles([border_design])
dfi.export(df_style3, ibd_images+'pharmacy_location_wise_rx_count_callforIns_RX_data_final.png')
df_style3

In [128]:
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,113,93792,0,0,0,0
1,MD-BA,93,80929,46,56179,26,15686
2,NC-RA,356,69472,21,582,11,0
3,NJ-SO,1157,796961,534,360530,408,188315
4,NY-BK,1432,515356,708,266323,367,164019
5,NY-MA,164,10858,65,5268,30,3700
6,PA-PH,693,246101,560,148287,486,125731
7,Overall,4008,1813469,1934,837169,1328,497451

In [129]:
# call for insuranace revenue
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_call_for_ins_rx_count_revenue2[['pharmacy_loc', 'rx_revenue_with_D1_Call_for_Insurance', 'rx_revenue_with_D2_Call_for_Insurance', 'rx_revenue_with_D3_Call_for_Insurance']]
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_rx_revenue_callforIns_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_rx_revenue_callforIns_RX_data[pharmacy_location_wise_rx_revenue_callforIns_RX_data.columns[:]].div(6,0).round(0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data

,rx_revenue_with_D1_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
pharmacy_loc,,,
FL-MI,15632.0,0.0,0.0
MD-BA,13488.0,9363.0,2614.0
NC-RA,11579.0,97.0,0.0
NJ-SO,132827.0,60088.0,31386.0
NY-BK,85893.0,44387.0,27336.0
NY-MA,1810.0,878.0,617.0
PA-PH,41017.0,24714.0,20955.0
Overall,302245.0,139528.0,82908.0

In [130]:
pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue'] = pharmacy_location_wise_rx_revenue_callforIns_RX_data[['rx_revenue_with_D1_Call_for_Insurance','rx_revenue_with_D2_Call_for_Insurance', 'rx_revenue_with_D3_Call_for_Insurance']].sum(axis=1)
pharmacy_location_wise_rx_revenue_callforIns_RX_data

,rx_revenue_with_D1_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,total_revenue
pharmacy_loc,,,,
FL-MI,15632.0,0.0,0.0,15632.0
MD-BA,13488.0,9363.0,2614.0,25465.0
NC-RA,11579.0,97.0,0.0,11676.0
NJ-SO,132827.0,60088.0,31386.0,224301.0
NY-BK,85893.0,44387.0,27336.0,157616.0
NY-MA,1810.0,878.0,617.0,3305.0
PA-PH,41017.0,24714.0,20955.0,86686.0
Overall,302245.0,139528.0,82908.0,524681.0

In [131]:
pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D1_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D1_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue']*100,0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_count_with_D2_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D2_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue']*100,0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_count_with_D3_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D3_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue']*100,0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_rx_revenue_callforIns_RX_data.fillna(0)
for i in pharmacy_location_wise_rx_revenue_callforIns_RX_data:
    pharmacy_location_wise_rx_revenue_callforIns_RX_data[i] = pharmacy_location_wise_rx_revenue_callforIns_RX_data[i].astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data

pharmacy_location_wise_rx_revenue_callforIns_RX_data

,rx_revenue_with_D1_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,total_revenue,rx_revenue_with_D1_Call_for_Insurance_%,rx_count_with_D2_Call_for_Insurance_%,rx_count_with_D3_Call_for_Insurance_%
pharmacy_loc,,,,,,,
FL-MI,15632,0,0,15632,100,0,0
MD-BA,13488,9363,2614,25465,53,37,10
NC-RA,11579,97,0,11676,99,1,0
NJ-SO,132827,60088,31386,224301,59,27,14
NY-BK,85893,44387,27336,157616,54,28,17
NY-MA,1810,878,617,3305,55,27,19
PA-PH,41017,24714,20955,86686,47,29,24
Overall,302245,139528,82908,524681,58,27,16

In [132]:
pharmacy_location_wise_rx_revenue_callforIns_RX_data_final = pharmacy_location_wise_rx_revenue_callforIns_RX_data[['total_revenue', 'rx_revenue_with_D1_Call_for_Insurance', 'rx_revenue_with_D1_Call_for_Insurance_%', 'rx_revenue_with_D2_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance_%', 'rx_revenue_with_D3_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_revenue_callforIns_RX_data_final = pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_callforIns_RX_data_final = pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.rename(columns = {'total_revenue': 'Total Revenue($)', 'rx_revenue_with_D1_Call_for_Insurance': 'Revenue from rx require Call for Insurance on Day 1($)', 'rx_revenue_with_D1_Call_for_Insurance_%': '%', 'rx_revenue_with_D2_Call_for_Insurance' : 'Revenue from rx require Call for Insurance on Day 2($)',\
                                                                                                                                         'rx_count_with_D2_Call_for_Insurance_%': ' %', 'rx_revenue_with_D3_Call_for_Insurance': 'Revenue from rx require Call for Insurance on Day 3($)', 'rx_count_with_D3_Call_for_Insurance_%': '% '})
pharmacy_location_wise_rx_revenue_callforIns_RX_data_final

,Total Revenue($),Revenue from rx require Call for Insurance on Day 1($),%,Revenue from rx require Call for Insurance on Day 2($),%,Revenue from rx require Call for Insurance on Day 3($),%
pharmacy_loc,,,,,,,
FL-MI,15632,15632,100,0,0,0,0
MD-BA,25465,13488,53,9363,37,2614,10
NC-RA,11676,11579,99,97,1,0,0
NJ-SO,224301,132827,59,60088,27,31386,14
NY-BK,157616,85893,54,44387,28,27336,17
NY-MA,3305,1810,55,878,27,617,19
PA-PH,86686,41017,47,24714,29,20955,24
Overall,524681,302245,58,139528,27,82908,16

In [133]:
subset_value = (pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.index.to_list()[:-1], ['Revenue from rx require Call for Insurance on Day 1($)', 'Revenue from rx require Call for Insurance on Day 2($)', 'Revenue from rx require Call for Insurance on Day 3($)'])
df_style4 = pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.style.set_properties(**body_design3).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
df_style4.set_table_styles([border_design])
dfi.export(df_style4, ibd_images+'pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.png')
df_style4

In [134]:
# pharmacy_location_wise_rx_count_revenue8.append(pharmacy_location_wise_rx_count_revenue8.sum(axis=0), ignore_index = True).to_clipboard(index=False)

In [135]:
# pharmacy_location_wise_rx_count1 = pd.merge(overall_count, rx_without_IBD_and_Call_for_Insurance_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count2 = pd.merge(pharmacy_location_wise_rx_count1, Rx_with_Call_for_Insurance_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count3 = pd.merge(pharmacy_location_wise_rx_count2, Rx_with_IBD_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count4 = pd.merge(pharmacy_location_wise_rx_count3, Rx_with_IBD_and_Call_for_Insurance_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count5 = pd.merge(pharmacy_location_wise_rx_count4, Rx_with_IBD_value_less_2k_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count6 = pd.merge(pharmacy_location_wise_rx_count5, Rx_with_IBD_value_greater_2k_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count6

In [136]:
# pharmacy_location_wise_rx_count6.append(pharmacy_location_wise_rx_count6.sum(axis=0), ignore_index = True).to_clipboard(index=False)

In [137]:
# pharmacy_location_wise_rx_revenue1 = pd.merge(overall_rev_sum, rx_without_IBD_and_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue2 = pd.merge(pharmacy_location_wise_rx_revenue1, Rx_with_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue3 = pd.merge(pharmacy_location_wise_rx_revenue2, Rx_with_IBD_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue4 = pd.merge(pharmacy_location_wise_rx_revenue3, Rx_with_IBD_and_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue5 = pd.merge(pharmacy_location_wise_rx_revenue4, Rx_with_IBD_value_less_2k_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue6 = pd.merge(pharmacy_location_wise_rx_revenue5, Rx_with_IBD_value_greater_2k_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue6

In [138]:
# pharmacy_location_wise_rx_revenue6.append(pharmacy_location_wise_rx_revenue6.sum(axis=0), ignore_index=True).to_clipboard(index=False)

In [139]:
ibd_images

'C:\\Users\\vidhi.mittal\\Documents\\Automation\\MBR_3\\OPS_MBR_Github\\ops_mbr\\RX\\automation\\AUTOMATION_ibd\\images\\'