In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.style as style
style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
import math
import dataframe_image as dfi

plt.rcParams['font.family'] = 'Nunito'
plt.rcParams['font.size'] = 10

In [2]:
plt.rcParams['font.family'] = 'Nunito'
plt.rcParams['font.size'] = 10


color_code = ['#80ADF7','#EFBA50']
font_name = 'Nunito'
font_size = 10
font_size_title = 12
font_weight = 'bold'
orange_color = '#EFBA50'
blue_color = '#80ADF7'
grey_color = '#B0BCC8'
green_color = '#9EEDE0'
red_color = '#FD7284'
# color_code2 = [blue_color, grey_color]

background_color = "#F1F1F1"
border_color = "#B0BCC8"
text_align = 'center'
border_width ="0.5px"
border_style = 'solid'

body_design = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align}
body_design2 = {'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'70px'}
body_design3 = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'120px'}

border_design = {'selector': 'th', 'props': [('background-color' , background_color),('border-style' ,border_style),('font-family',font_name),('font-size',font_size),('border-width',border_width),('text-align',text_align),('border-color',border_color)]}
bar_width=0.5

In [3]:
color_code = ['#80ADF7','#EFBA50']
font_name = 'Nunito'
font_size = 10
font_size_title = 12
font_weight = 'bold'
orange_color = '#EFBA50'
blue_color = '#80ADF7'
grey_color = '#B0BCC8'
green_color = '#9EEDE0'
red_color = '#FD7284'
# color_code2 = [blue_color, grey_color]

background_color = "#F1F1F1"
border_color = "#B0BCC8"
text_align = 'center'
border_width ="0.5px"
border_style = 'solid'

body_design = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align}
body_design2 = {'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'100px'}
# body_design3 = { 'background' : "white", 'color' : 'black',  'border-color' : border_color, 'border-width' : border_width, 'border-style' : border_style,'font-family':font_name,'font-size':font_size,'text-align':text_align,'width':'120px'}

border_design = {'selector': 'th', 'props': [('background-color' , background_color),('border-style' ,border_style),('font-family',font_name),('font-size',font_size),('border-width',border_width),('text-align',text_align),('border-color',border_color)]}
bar_width=0.5

In [4]:
%run operations_utils.py

In [5]:
%run path_changer_new.py

In [6]:
# df = pd.read_csv(source_file_path+'rx_flow_data_july21_final_updated.csv')

In [7]:
# df['track_rx_recieved_new'] =  pd.to_datetime(df.track_erx_received, dayfirst = False)
# df['track_rx_entered_new'] =  pd.to_datetime(df.track_rx_entered, dayfirst = False)
# df['max_date'] = df[['track_rx_recieved_new','track_rx_entered_new']].max(axis=1)
# df['max_date_only'] = df['max_date'].dt.date
# df['pharmacy_loc'] = df['rx_code_key_location'].astype(str).str[0:5]

In [8]:
# six_months = date.today() - relativedelta(months=+6)
# six_months = six_months.strftime("%Y-%m")
# six_month_date = str(six_months)+"-01"
# six_month_date

In [9]:
# df['filled_datekey_new'] =  pd.to_datetime(df.filled_datekey, dayfirst = False)

In [10]:
# df = df[df['filled_datekey_new'] > six_month_date]

In [11]:
# df['times_processed_ibd_regular_new'] = df['times_processed_ibd_regular'].notnull()
# df['times_processed_ibd_2K_new'] = df['times_processed_ibd_2K'].notnull()

In [12]:
# df['mon_key'] = df['max_date'].dt.strftime('%m-%y')

# df['mon_key_2'] = df['max_date'].dt.strftime('%b-%y')

# # df = df[df['mon_key_2']!='Jul-21']

In [13]:
# df['trackrx_last_ibdtag_new'] = df['trackrx_last_ibdtag'].notnull()

In [14]:
# df['status_callforins_day01_new'] = df['status_callforins_day01'].notnull()

In [15]:
# df['times_processed_callforins_day01_new'] = df['times_processed_callforins_day01'].notnull()

In [16]:
# df['times_processed_callforins_day02_new'] = df['times_processed_callforins_day02'].notnull()
# df['times_processed_callforins_day02_new'].value_counts()

In [17]:
# df['times_processed_callforins_day03_new'] = df['times_processed_callforins_day03'].notnull()
# df['times_processed_callforins_day03_new'].value_counts()

In [18]:
# #now apply all on scenario
# df['c1'] = pd.to_timedelta(df['time_consumed_callforins_day01'], errors = 'coerce')
# df['c2'] = pd.to_timedelta(df['time_consumed_callforins_day02'], errors = 'coerce')
# df['c3'] = pd.to_timedelta(df['time_consumed_callforins_day03'], errors = 'coerce')

In [19]:
# df['total_call'] = df[['c1','c2','c3']].sum(axis=1)

In [20]:
# def get_time_value(x):
#     return x > 0

In [21]:
# df['total_call_2'] = df['total_call'].dt.total_seconds()

In [22]:
# df['is_call'] = df['total_call_2'].apply(lambda x: get_time_value(x))

In [23]:
# pharmacy_loc_list = ['FL-MI', 'MD-BA', 'NC-RA', 'NJ-SO', 'NY-BK', 'NY-MA', 'PA-PH']
# df = df[df['pharmacy_loc'].isin(pharmacy_loc_list)]
# df.pharmacy_loc.unique()

In [24]:
%store -r main_odf_new

In [25]:
df = main_odf_new

In [26]:
df['trackrx_last_status_new'] = df['trackrx_last_status']
df['trackrx_last_status_new'] = df['trackrx_last_status_new'].replace(['F','T','U'], 'NB')
df['trackrx_last_status_new'] = df['trackrx_last_status_new'].replace(np.nan, 'B')

In [27]:
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].astype(str)
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].apply(lambda x: x.replace(',',''))
df['TOTALRXAMOUNT'] = df['TOTALRXAMOUNT'].astype(float)

In [28]:
df['rx_revenue'] = df['TOTALRXAMOUNT']

In [29]:
null_columns = pd.DataFrame(df.isnull().sum()/(len(df.index))*100)
null_columns

                                       0
Unnamed: 0                      0.000000
pharmacy_location               0.000000
rxno                            0.000000
presnpi                         0.048853
ndc                             0.000000
...                                  ...
total_call_2                    0.000000
is_call                         0.000000
total_processing_time_ibd_new   0.000000
trackrx_last_status_new         0.000000
rx_revenue                     43.973772

[278 rows x 1 columns]

In [30]:
## Billed data

In [31]:
df_billed = df[df['trackrx_last_status_new'] == 'B']

In [32]:
#df_billed = df_billed.rename(columns = {'pharmacy_loc': 'pharmacy loc'})

In [33]:
# overall

In [34]:
overall_count = pd.pivot_table(df_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
overall_count.rename(columns = {'rx_code_key_location': 'total_rx'}, inplace=True)
overall_count

  pharmacy_loc  total_rx
0        FL-MI     11032
1        MD-BA      5003
2        NC-RA      6351
3        NJ-SO     28017
4        NY-BK     49771
5        NY-MA      9502
6        PA-PH     13679

In [35]:
overall_rev_sum = pd.pivot_table(df_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
overall_rev_sum.rename(columns = {'rx_revenue': 'total_revenue'}, inplace=True)
overall_rev_sum

  pharmacy_loc  total_revenue
0        FL-MI     2064878.51
1        MD-BA     3813134.07
2        NC-RA     2126283.22
3        NJ-SO    12992630.05
4        NY-BK    16391248.16
5        NY-MA      825718.43
6        PA-PH     6208865.55

In [36]:
overall = pd.merge(overall_count, overall_rev_sum, on='pharmacy_loc', how='left')
overall
#.append(overall.sum(axis=0), ignore_index=True).to_clipboard(index=False)

  pharmacy_loc  total_rx  total_revenue
0        FL-MI     11032     2064878.51
1        MD-BA      5003     3813134.07
2        NC-RA      6351     2126283.22
3        NJ-SO     28017    12992630.05
4        NY-BK     49771    16391248.16
5        NY-MA      9502      825718.43
6        PA-PH     13679     6208865.55

# rx_without_IBD_and_Call_for_Insurance

In [37]:
rx_without_IBD_and_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == False) & (df['status_callforins_day01_new'] == False)]

# Rx_with_Call_for_Insurance

In [38]:
# Rx_with_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == False) & (df['status_callforins_day01_new'] == True)]
Rx_with_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == False) & ((df['status_callforins_day01'] == 'completed') | (df['status_callforins_day02'] == 'completed') | (df['status_callforins_day03'] == 'completed'))]

# Rx_with_IBD_and_Call_for_Insurance

In [39]:
# Rx_with_IBD_and_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == True) & (df['status_callforins_day01_new'] == True)]
Rx_with_IBD_and_Call_for_Insurance = df[(df['trackrx_last_ibdtag_new'] == True) & ((df['status_callforins_day01'] == 'completed') | (df['status_callforins_day02'] == 'completed') | (df['status_callforins_day03'] == 'completed'))]

rx_to_exclude = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == False) & (df['times_processed_ibd_2K_new'] == False) & (df['total_processing_time_ibd_new'] == False)]
len(rx_to_exclude)

rx_list =  rx_to_exclude['rx_code_key_location'].to_list()

# Rx_with_IBD2 = Rx_with_IBD[~Rx_with_IBD['rx_code_key_location'].isin(rx_list)]
Rx_with_IBD_and_Call_for_Insurance = Rx_with_IBD_and_Call_for_Insurance[~Rx_with_IBD_and_Call_for_Insurance['rx_code_key_location'].isin(rx_list)]

# Rx_with_IBD

In [40]:
Rx_with_IBD = df[(df['trackrx_last_ibdtag_new'] == True) & (df['status_callforins_day01_new'] == False)]

Rx_with_IBD_2d = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == False) & (df['times_processed_ibd_2K_new'] == False) & (df['total_processing_time_ibd_new'] == False)]
len(Rx_with_IBD_2d)

rx_list =  Rx_with_IBD_2d['rx_code_key_location'].to_list()
len(rx_list)

Rx_with_IBD2 = Rx_with_IBD[~Rx_with_IBD['rx_code_key_location'].isin(rx_list)]

In [41]:

Rx_with_IBD_value_less_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == True)]
Rx_with_IBD_value_greater_2k = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_2K_new'] == True)]

# Rx_with_Call_for_Insurance_d1_d2_d3

In [42]:
Rx_with_Call_for_Insurance_d1 = df[(df['status_callforins_day01'] == 'completed') & (pd.isnull(df['status_callforins_day02']) == True) & (pd.isnull(df['status_callforins_day03']) == True)]
Rx_with_Call_for_Insurance_d2 = df[(df['status_callforins_day01'] == 'completed') & (df['status_callforins_day02'] == 'completed') & (pd.isnull(df['status_callforins_day03']) == True)]
Rx_with_Call_for_Insurance_d3 = df[(df['status_callforins_day01'] == 'completed') & (df['status_callforins_day02'] == 'completed') & (df['status_callforins_day03'] == 'completed')]

In [43]:
len(Rx_with_IBD)

22144

In [44]:
len(df)

184228

In [45]:
len(rx_without_IBD_and_Call_for_Insurance) #4 extra

147537

In [46]:
print(len(df[(df['trackrx_last_ibdtag_new'] == False)]))
print(len(df[(df['status_callforins_day01_new'] == False)]))

158325
169681

In [47]:
# Rx_with_IBD2 = Rx_with_IBD.copy()[~Rx_with_IBD['rx_code_key_location'].isin(rx_list)]

In [48]:
len(Rx_with_IBD2)

21979

In [49]:
Rx_with_IBD_value_less_2k_11d = df[(df['trackrx_last_ibdtag_new'] == True) & (df['times_processed_ibd_regular_new'] == True) & (df['times_processed_ibd_2K_new'] == True)]
Rx_with_IBD_value_less_2k_11d_list = Rx_with_IBD_value_less_2k_11d['rx_code_key_location']

In [50]:
len(Rx_with_IBD_value_less_2k_11d_list)

1222

In [51]:
Rx_with_IBD_value_less_2k_2 = Rx_with_IBD_value_less_2k[~Rx_with_IBD_value_less_2k['rx_code_key_location'].isin(Rx_with_IBD_value_less_2k_11d_list)]

In [52]:
len(Rx_with_IBD_value_less_2k_2)

23606

In [53]:
len(Rx_with_Call_for_Insurance)

9978

In [54]:
len(Rx_with_IBD_and_Call_for_Insurance) #1 extra

3607

In [55]:
len(Rx_with_IBD) #4 extras

22144

In [56]:
len(Rx_with_IBD_value_less_2k) #2 extras

24828

In [57]:
len(Rx_with_IBD_value_greater_2k)

2051

In [58]:
#zipwhip_patient_responded_f_gender[zipwhip_patient_responded_f_gender['PATSEX']=='U']

#nic_calling_data_df[(nic_calling_data_df['Direction'] == 'Outbound') & nic_calling_data_df['Disposition Name'].isin(Disposition_Name_list)]

In [59]:
#rx_without_IBD_and_Call_for_Insurance.drop_duplicates(keep=False,inplace=True)
#rx_without_IBD_and_Call_for_Insurance

In [60]:
print(rx_without_IBD_and_Call_for_Insurance['trackrx_last_ibdtag_new'].value_counts())
print(rx_without_IBD_and_Call_for_Insurance['status_callforins_day01_new'].value_counts())

False    147537
Name: trackrx_last_ibdtag_new, dtype: int64
False    147537
Name: status_callforins_day01_new, dtype: int64

In [61]:
# rx_without_IBD_and_Call_for_Insurance
# Rx_with_Call_for_Insurance
# Rx_with_IBD_and_Call_for_Insurance
# Rx_with_IBD
# Rx_with_IBD_value_less_2k
# Rx_with_IBD_value_greater_2k

In [62]:
# rx_without_IBD_and_Call_for_Insurance_pivot

In [63]:
rx_without_IBD_and_Call_for_Insurance_billed = rx_without_IBD_and_Call_for_Insurance[rx_without_IBD_and_Call_for_Insurance['trackrx_last_status_new'] == 'B']

In [64]:
rx_without_IBD_and_Call_for_Insurance_count_pivot = pd.pivot_table(rx_without_IBD_and_Call_for_Insurance_billed, values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
rx_without_IBD_and_Call_for_Insurance_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_without_IBD_and_Call_for_Insurance'}, inplace = True)
rx_without_IBD_and_Call_for_Insurance_count_pivot

  pharmacy_loc  rx_count_without_IBD_and_Call_for_Insurance
0        FL-MI                                        10359
1        MD-BA                                         4220
2        NC-RA                                         5356
3        NJ-SO                                        23859
4        NY-BK                                        45315
5        NY-MA                                         9065
6        PA-PH                                        11045

In [65]:
rx_without_IBD_and_Call_for_Insurance_revenue_pivot = pd.pivot_table(rx_without_IBD_and_Call_for_Insurance_billed, values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
rx_without_IBD_and_Call_for_Insurance_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_without_IBD_and_Call_for_Insurance'}, inplace = True)
rx_without_IBD_and_Call_for_Insurance_revenue_pivot

  pharmacy_loc  rx_revenue_without_IBD_and_Call_for_Insurance
0        FL-MI                                     1317075.48
1        MD-BA                                     2445672.10
2        NC-RA                                     1132507.00
3        NJ-SO                                     8732208.85
4        NY-BK                                    12982907.83
5        NY-MA                                      711724.67
6        PA-PH                                     4123979.66

In [66]:
rx_without_IBD_and_Call_for_Insurance_pivot = pd.merge(rx_without_IBD_and_Call_for_Insurance_count_pivot, rx_without_IBD_and_Call_for_Insurance_revenue_pivot, on='pharmacy_loc', how='left')
rx_without_IBD_and_Call_for_Insurance_pivot

,pharmacy_loc,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance
0,FL-MI,10359,1317075.48
1,MD-BA,4220,2445672.10
2,NC-RA,5356,1132507.00
3,NJ-SO,23859,8732208.85
4,NY-BK,45315,12982907.83
5,NY-MA,9065,711724.67
6,PA-PH,11045,4123979.66

In [67]:
# Rx_with_Call_for_Insurance_pivot

In [68]:
Rx_with_Call_for_Insurance_billed = Rx_with_Call_for_Insurance[Rx_with_Call_for_Insurance['trackrx_last_status_new']=='B']

In [69]:
Rx_with_Call_for_Insurance_count_pivot = Rx_with_Call_for_Insurance_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_count_pivot

  pharmacy_loc  Rx_count_with_Call_for_Insurance
0        FL-MI                               117
1        MD-BA                               102
2        NC-RA                               356
3        NJ-SO                              1477
4        NY-BK                              1791
5        NY-MA                               163
6        PA-PH                              1561

In [70]:
Rx_with_Call_for_Insurance_revenue_pivot = Rx_with_Call_for_Insurance_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_revenue_pivot

  pharmacy_loc  rx_revenue_with_Call_for_Insurance
0        FL-MI                            57160.68
1        MD-BA                            49536.56
2        NC-RA                            29590.97
3        NJ-SO                           367503.54
4        NY-BK                           412049.29
5        NY-MA                            10498.66
6        PA-PH                           276199.79

In [71]:
Rx_with_Call_for_Insurance_pivot = pd.merge(Rx_with_Call_for_Insurance_count_pivot, Rx_with_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_pivot

,pharmacy_loc,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance
0,FL-MI,117,57160.68
1,MD-BA,102,49536.56
2,NC-RA,356,29590.97
3,NJ-SO,1477,367503.54
4,NY-BK,1791,412049.29
5,NY-MA,163,10498.66
6,PA-PH,1561,276199.79

In [72]:
# Rx_with_IBD_pivot

In [73]:
Rx_with_IBD_billed = Rx_with_IBD2[Rx_with_IBD2['trackrx_last_status_new'] == 'B']

In [74]:
Rx_with_IBD_count_pivot = Rx_with_IBD_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD'}, inplace = True)
Rx_with_IBD_count_pivot

  pharmacy_loc  Rx_count_with_IBD
0        FL-MI                435
1        MD-BA                633
2        NC-RA                462
3        NJ-SO               2159
4        NY-BK               2191
5        NY-MA                247
6        PA-PH                802

In [75]:
Rx_with_IBD_revenue_pivot = Rx_with_IBD_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD'}, inplace = True)
Rx_with_IBD_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD
0        FL-MI            579892.87
1        MD-BA           1224833.32
2        NC-RA            870551.38
3        NJ-SO           3046993.89
4        NY-BK           2637691.07
5        NY-MA             97240.32
6        PA-PH           1574629.97

In [76]:
Rx_with_IBD_pivot = pd.merge(Rx_with_IBD_count_pivot, Rx_with_IBD_revenue_pivot, on = 'pharmacy_loc', how='left')
Rx_with_IBD_pivot

  pharmacy_loc  Rx_count_with_IBD  Rx_revenue_with_IBD
0        FL-MI                435            579892.87
1        MD-BA                633           1224833.32
2        NC-RA                462            870551.38
3        NJ-SO               2159           3046993.89
4        NY-BK               2191           2637691.07
5        NY-MA                247             97240.32
6        PA-PH                802           1574629.97

In [77]:
# Rx_with_IBD_and_Call_for_Insurance_pivot

In [78]:
Rx_with_IBD_and_Call_for_Insurance_billed = Rx_with_IBD_and_Call_for_Insurance[Rx_with_IBD_and_Call_for_Insurance['trackrx_last_status_new'] == 'B']

In [79]:
Rx_with_IBD_and_Call_for_Insurance_count_pivot = Rx_with_IBD_and_Call_for_Insurance_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_and_Call_for_Insurance_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD_and_Call_for_Insurance'}, inplace = True)
Rx_with_IBD_and_Call_for_Insurance_count_pivot

  pharmacy_loc  Rx_count_with_IBD_and_Call_for_Insurance
0        FL-MI                                        32
1        MD-BA                                        38
2        NC-RA                                        28
3        NJ-SO                                       491
4        NY-BK                                       364
5        NY-MA                                        22
6        PA-PH                                       220

In [80]:
Rx_with_IBD_and_Call_for_Insurance_revenue_pivot = Rx_with_IBD_and_Call_for_Insurance_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_and_Call_for_Insurance_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD_and_Call_for_Insurance'}, inplace = True)
Rx_with_IBD_and_Call_for_Insurance_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD_and_Call_for_Insurance
0        FL-MI                                    47971.05
1        MD-BA                                    83793.91
2        NC-RA                                    30799.66
3        NJ-SO                                   814471.61
4        NY-BK                                   341420.90
5        NY-MA                                     5449.11
6        PA-PH                                   206787.41

In [81]:
Rx_with_IBD_and_Call_for_Insurance_pivot = pd.merge(Rx_with_IBD_and_Call_for_Insurance_count_pivot, Rx_with_IBD_and_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how='left')
Rx_with_IBD_and_Call_for_Insurance_pivot

,pharmacy_loc,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance
0,FL-MI,32,47971.05
1,MD-BA,38,83793.91
2,NC-RA,28,30799.66
3,NJ-SO,491,814471.61
4,NY-BK,364,341420.90
5,NY-MA,22,5449.11
6,PA-PH,220,206787.41

In [82]:
# Rx_with_IBD_value_less_2k_pivot

In [83]:
Rx_with_IBD_value_less_2k_billed = Rx_with_IBD_value_less_2k_2[Rx_with_IBD_value_less_2k_2['trackrx_last_status_new']=='B']

In [84]:
Rx_with_IBD_value_less_2k_count_pivot = Rx_with_IBD_value_less_2k_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_less_2k_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD_value_less_2k'}, inplace = True)
Rx_with_IBD_value_less_2k_count_pivot

  pharmacy_loc  Rx_count_with_IBD_value_less_2k
0        FL-MI                              478
1        MD-BA                              579
2        NC-RA                              492
3        NJ-SO                             2572
4        NY-BK                             2315
5        NY-MA                              261
6        PA-PH                              933

In [85]:
Rx_with_IBD_value_less_2k_revenue_pivot = Rx_with_IBD_value_less_2k_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_less_2k_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD_value_less_2k'}, inplace = True)
Rx_with_IBD_value_less_2k_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD_value_less_2k
0        FL-MI                          655160.90
1        MD-BA                          885145.88
2        NC-RA                          867854.06
3        NJ-SO                         3546635.14
4        NY-BK                         1925371.08
5        NY-MA                           93581.65
6        PA-PH                         1490798.14

In [86]:
Rx_with_IBD_value_less_2k_pivot = pd.merge(Rx_with_IBD_value_less_2k_count_pivot, Rx_with_IBD_value_less_2k_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_less_2k_pivot

,pharmacy_loc,Rx_count_with_IBD_value_less_2k,Rx_revenue_with_IBD_value_less_2k
0,FL-MI,478,655160.90
1,MD-BA,579,885145.88
2,NC-RA,492,867854.06
3,NJ-SO,2572,3546635.14
4,NY-BK,2315,1925371.08
5,NY-MA,261,93581.65
6,PA-PH,933,1490798.14

In [87]:
# Rx_with_IBD_value_greater_2k_pivot

In [88]:
Rx_with_IBD_value_greater_2k_billed = Rx_with_IBD_value_greater_2k[Rx_with_IBD_value_greater_2k['trackrx_last_status_new']=='B']

In [89]:
Rx_with_IBD_value_greater_2k_count_pivot = Rx_with_IBD_value_greater_2k_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_IBD_value_greater_2k_count_pivot.rename(columns = {'rx_code_key_location':'Rx_count_with_IBD_value_greater_2k'}, inplace = True)
Rx_with_IBD_value_greater_2k_count_pivot

  pharmacy_loc  Rx_count_with_IBD_value_greater_2k
0        MD-BA                                  89
1        NC-RA                                  11
2        NJ-SO                                  73
3        NY-BK                                 236
4        NY-MA                                   8
5        PA-PH                                  81

In [90]:
Rx_with_IBD_value_greater_2k_revenue_pivot = Rx_with_IBD_value_greater_2k_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_IBD_value_greater_2k_revenue_pivot.rename(columns = {'rx_revenue':'Rx_revenue_with_IBD_value_greater_2k'}, inplace = True)
Rx_with_IBD_value_greater_2k_revenue_pivot

  pharmacy_loc  Rx_revenue_with_IBD_value_greater_2k
0        MD-BA                             420814.52
1        NC-RA                              61196.26
2        NJ-SO                             308028.51
3        NY-BK                            1057785.21
4        NY-MA                               9107.78
5        PA-PH                             259110.63

In [91]:
Rx_with_IBD_value_greater_2k_pivot = pd.merge(Rx_with_IBD_value_greater_2k_count_pivot, Rx_with_IBD_value_greater_2k_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_IBD_value_greater_2k_pivot

,pharmacy_loc,Rx_count_with_IBD_value_greater_2k,Rx_revenue_with_IBD_value_greater_2k
0,MD-BA,89,420814.52
1,NC-RA,11,61196.26
2,NJ-SO,73,308028.51
3,NY-BK,236,1057785.21
4,NY-MA,8,9107.78
5,PA-PH,81,259110.63

In [92]:
# Rx_with_Call_for_Insurance_d1

In [93]:
Rx_with_Call_for_Insurance_d1_billed = Rx_with_Call_for_Insurance_d1[Rx_with_Call_for_Insurance_d1['trackrx_last_status_new']=='B']

In [94]:
Rx_with_Call_for_Insurance_d1_count_pivot = Rx_with_Call_for_Insurance_d1_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_d1_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_with_D1_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d1_count_pivot

  pharmacy_loc  rx_count_with_D1_Call_for_Insurance
0        FL-MI                                   98
1        MD-BA                                   80
2        NC-RA                                  347
3        NJ-SO                                 1086
4        NY-BK                                 1153
5        NY-MA                                  112
6        PA-PH                                  674

In [95]:
Rx_with_Call_for_Insurance_d1_revenue_pivot = Rx_with_Call_for_Insurance_d1_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_d1_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_D1_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d1_revenue_pivot

  pharmacy_loc  rx_revenue_with_D1_Call_for_Insurance
0        FL-MI                               80298.03
1        MD-BA                               71129.50
2        NC-RA                               59470.81
3        NJ-SO                              742894.54
4        NY-BK                              399388.24
5        NY-MA                                7096.92
6        PA-PH                              219088.83

In [96]:
Rx_with_Call_for_Insurance_d1_pivot = pd.merge(Rx_with_Call_for_Insurance_d1_count_pivot, Rx_with_Call_for_Insurance_d1_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_d1_pivot

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance
0,FL-MI,98,80298.03
1,MD-BA,80,71129.50
2,NC-RA,347,59470.81
3,NJ-SO,1086,742894.54
4,NY-BK,1153,399388.24
5,NY-MA,112,7096.92
6,PA-PH,674,219088.83

In [97]:
# Rx_with_Call_for_Insurance_d2

In [98]:
Rx_with_Call_for_Insurance_d2_billed = Rx_with_Call_for_Insurance_d2[Rx_with_Call_for_Insurance_d2['trackrx_last_status_new']=='B']

In [99]:

Rx_with_Call_for_Insurance_d2_count_pivot = Rx_with_Call_for_Insurance_d2_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_d2_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_with_D2_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d2_count_pivot

  pharmacy_loc  rx_count_with_D2_Call_for_Insurance
0        MD-BA                                   38
1        NC-RA                                   21
2        NJ-SO                                  495
3        NY-BK                                  579
4        NY-MA                                   44
5        PA-PH                                  550

In [100]:
Rx_with_Call_for_Insurance_d2_revenue_pivot = Rx_with_Call_for_Insurance_d2_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_d2_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_D2_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d2_revenue_pivot

  pharmacy_loc  rx_revenue_with_D2_Call_for_Insurance
0        MD-BA                               53352.19
1        NC-RA                                 582.57
2        NJ-SO                              299305.46
3        NY-BK                              229274.56
4        NY-MA                                4965.89
5        PA-PH                              146355.20

In [101]:
Rx_with_Call_for_Insurance_d2_pivot = pd.merge(Rx_with_Call_for_Insurance_d2_count_pivot, Rx_with_Call_for_Insurance_d2_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_d2_pivot

,pharmacy_loc,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance
0,MD-BA,38,53352.19
1,NC-RA,21,582.57
2,NJ-SO,495,299305.46
3,NY-BK,579,229274.56
4,NY-MA,44,4965.89
5,PA-PH,550,146355.20

In [102]:
# Rx_with_Call_for_Insurance_d3

In [103]:
Rx_with_Call_for_Insurance_d3_billed = Rx_with_Call_for_Insurance_d3[Rx_with_Call_for_Insurance_d3['trackrx_last_status_new']=='B']

In [104]:


Rx_with_Call_for_Insurance_d3_count_pivot = Rx_with_Call_for_Insurance_d3_billed.pivot_table(values = ['rx_code_key_location'], index = ['pharmacy_loc'], aggfunc = 'count').reset_index()
Rx_with_Call_for_Insurance_d3_count_pivot.rename(columns = {'rx_code_key_location':'rx_count_with_D3_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d3_count_pivot

  pharmacy_loc  rx_count_with_D3_Call_for_Insurance
0        MD-BA                                   18
1        NC-RA                                   11
2        NJ-SO                                  361
3        NY-BK                                  267
4        NY-MA                                   26
5        PA-PH                                  481

In [105]:
Rx_with_Call_for_Insurance_d3_revenue_pivot = Rx_with_Call_for_Insurance_d3_billed.pivot_table(values = ['rx_revenue'], index = ['pharmacy_loc'], aggfunc = 'sum').reset_index()
Rx_with_Call_for_Insurance_d3_revenue_pivot.rename(columns = {'rx_revenue':'rx_revenue_with_D3_Call_for_Insurance'}, inplace = True)
Rx_with_Call_for_Insurance_d3_revenue_pivot

  pharmacy_loc  rx_revenue_with_D3_Call_for_Insurance
0        MD-BA                                7555.68
1        NC-RA                                   0.00
2        NJ-SO                              129237.17
3        NY-BK                               94754.85
4        NY-MA                                3686.90
5        PA-PH                              108157.42

In [106]:
Rx_with_Call_for_Insurance_d3_pivot = pd.merge(Rx_with_Call_for_Insurance_d3_count_pivot, Rx_with_Call_for_Insurance_d3_revenue_pivot, on='pharmacy_loc', how='left')
Rx_with_Call_for_Insurance_d3_pivot

,pharmacy_loc,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,MD-BA,18,7555.68
1,NC-RA,11,0.00
2,NJ-SO,361,129237.17
3,NY-BK,267,94754.85
4,NY-MA,26,3686.90
5,PA-PH,481,108157.42

In [107]:
pharmacy_location_wise_rx_count_revenue1 = pd.merge(overall, rx_without_IBD_and_Call_for_Insurance_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue2 = pd.merge(pharmacy_location_wise_rx_count_revenue1, Rx_with_Call_for_Insurance_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue3 = pd.merge(pharmacy_location_wise_rx_count_revenue2, Rx_with_Call_for_Insurance_d2_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue4 = pd.merge(pharmacy_location_wise_rx_count_revenue3, Rx_with_Call_for_Insurance_d3_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue5 = pd.merge(pharmacy_location_wise_rx_count_revenue4, Rx_with_IBD_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue6 = pd.merge(pharmacy_location_wise_rx_count_revenue5, Rx_with_IBD_and_Call_for_Insurance_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue7 = pd.merge(pharmacy_location_wise_rx_count_revenue6, Rx_with_IBD_value_less_2k_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_rx_count_revenue8 = pd.merge(pharmacy_location_wise_rx_count_revenue7, Rx_with_IBD_value_greater_2k_pivot, on = 'pharmacy_loc', how = 'left')



# Rx_with_IBD_value_greater_2k_pivot

# Rx_with_IBD_value_less_2k_pivot
# Rx_with_IBD_and_Call_for_Insurance_pivot
# Rx_with_IBD_pivot
# Rx_with_Call_for_Insurance_pivot
# rx_without_IBD_and_Call_for_Insurance_pivot
# overall
pharmacy_location_wise_rx_count_revenue8

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_value_less_2k,Rx_revenue_with_IBD_value_less_2k,Rx_count_with_IBD_value_greater_2k,Rx_revenue_with_IBD_value_greater_2k
0,FL-MI,11032,2064878.51,10359,1317075.48,117,57160.68,NaN,NaN,NaN,NaN,435,579892.87,32,47971.05,478,655160.90,NaN,NaN
1,MD-BA,5003,3813134.07,4220,2445672.10,102,49536.56,38.0,53352.19,18.0,7555.68,633,1224833.32,38,83793.91,579,885145.88,89.0,420814.52
2,NC-RA,6351,2126283.22,5356,1132507.00,356,29590.97,21.0,582.57,11.0,0.00,462,870551.38,28,30799.66,492,867854.06,11.0,61196.26
3,NJ-SO,28017,12992630.05,23859,8732208.85,1477,367503.54,495.0,299305.46,361.0,129237.17,2159,3046993.89,491,814471.61,2572,3546635.14,73.0,308028.51
4,NY-BK,49771,16391248.16,45315,12982907.83,1791,412049.29,579.0,229274.56,267.0,94754.85,2191,2637691.07,364,341420.90,2315,1925371.08,236.0,1057785.21
5,NY-MA,9502,825718.43,9065,711724.67,163,10498.66,44.0,4965.89,26.0,3686.90,247,97240.32,22,5449.11,261,93581.65,8.0,9107.78
6,PA-PH,13679,6208865.55,11045,4123979.66,1561,276199.79,550.0,146355.20,481.0,108157.42,802,1574629.97,220,206787.41,933,1490798.14,81.0,259110.63

In [108]:
pharmacy_location_wise_rx_count_revenue8 = pharmacy_location_wise_rx_count_revenue8.append(pharmacy_location_wise_rx_count_revenue8.sum(axis=0), ignore_index = True)
pharmacy_location_wise_rx_count_revenue8.iloc[[len(pharmacy_location_wise_rx_count_revenue8)-1],[0]] = 'Overall'
pharmacy_location_wise_rx_count_revenue8['total_revenue'] = pharmacy_location_wise_rx_count_revenue8['total_revenue'].astype(int)
pharmacy_location_wise_rx_count_revenue8

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_value_less_2k,Rx_revenue_with_IBD_value_less_2k,Rx_count_with_IBD_value_greater_2k,Rx_revenue_with_IBD_value_greater_2k
0,FL-MI,11032,2064878,10359,1317075.48,117,57160.68,NaN,NaN,NaN,NaN,435,579892.87,32,47971.05,478,655160.90,NaN,NaN
1,MD-BA,5003,3813134,4220,2445672.10,102,49536.56,38.0,53352.19,18.0,7555.68,633,1224833.32,38,83793.91,579,885145.88,89.0,420814.52
2,NC-RA,6351,2126283,5356,1132507.00,356,29590.97,21.0,582.57,11.0,0.00,462,870551.38,28,30799.66,492,867854.06,11.0,61196.26
3,NJ-SO,28017,12992630,23859,8732208.85,1477,367503.54,495.0,299305.46,361.0,129237.17,2159,3046993.89,491,814471.61,2572,3546635.14,73.0,308028.51
4,NY-BK,49771,16391248,45315,12982907.83,1791,412049.29,579.0,229274.56,267.0,94754.85,2191,2637691.07,364,341420.90,2315,1925371.08,236.0,1057785.21
5,NY-MA,9502,825718,9065,711724.67,163,10498.66,44.0,4965.89,26.0,3686.90,247,97240.32,22,5449.11,261,93581.65,8.0,9107.78
6,PA-PH,13679,6208865,11045,4123979.66,1561,276199.79,550.0,146355.20,481.0,108157.42,802,1574629.97,220,206787.41,933,1490798.14,81.0,259110.63
7,Overall,123355,44422757,109219,31446075.59,5567,1202539.49,1727.0,733835.87,1164.0,343392.02,6929,10031832.82,1195,1530693.65,7630,9464546.85,498.0,2116042.91

In [109]:
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8[['pharmacy_loc', 'total_rx', 'total_revenue', 'rx_count_without_IBD_and_Call_for_Insurance', 'rx_revenue_without_IBD_and_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'Rx_count_with_IBD', 'Rx_revenue_with_IBD', 'Rx_count_with_IBD_and_Call_for_Insurance', 'Rx_revenue_with_IBD_and_Call_for_Insurance']]
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data.fillna(0)
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance
0,FL-MI,11032,2064878,10359,1317075.48,117,57160.68,435,579892.87,32,47971.05
1,MD-BA,5003,3813134,4220,2445672.10,102,49536.56,633,1224833.32,38,83793.91
2,NC-RA,6351,2126283,5356,1132507.00,356,29590.97,462,870551.38,28,30799.66
3,NJ-SO,28017,12992630,23859,8732208.85,1477,367503.54,2159,3046993.89,491,814471.61
4,NY-BK,49771,16391248,45315,12982907.83,1791,412049.29,2191,2637691.07,364,341420.90
5,NY-MA,9502,825718,9065,711724.67,163,10498.66,247,97240.32,22,5449.11
6,PA-PH,13679,6208865,11045,4123979.66,1561,276199.79,802,1574629.97,220,206787.41
7,Overall,123355,44422757,109219,31446075.59,5567,1202539.49,6929,10031832.82,1195,1530693.65

In [110]:
for i in pharmacy_location_wise_rx_count_revenue8_IBD_RX_data.columns[1:]:
    pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[i] = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[i].astype(int)

In [111]:
pharmacy_location_wise_rx_count_revenue8_IBD_RX_data

,pharmacy_loc,total_rx,total_revenue,rx_count_without_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_count_with_IBD,Rx_revenue_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,Rx_revenue_with_IBD_and_Call_for_Insurance
0,FL-MI,11032,2064878,10359,1317075,117,57160,435,579892,32,47971
1,MD-BA,5003,3813134,4220,2445672,102,49536,633,1224833,38,83793
2,NC-RA,6351,2126283,5356,1132507,356,29590,462,870551,28,30799
3,NJ-SO,28017,12992630,23859,8732208,1477,367503,2159,3046993,491,814471
4,NY-BK,49771,16391248,45315,12982907,1791,412049,2191,2637691,364,341420
5,NY-MA,9502,825718,9065,711724,163,10498,247,97240,22,5449
6,PA-PH,13679,6208865,11045,4123979,1561,276199,802,1574629,220,206787
7,Overall,123355,44422757,109219,31446075,5567,1202539,6929,10031832,1195,1530693

In [112]:
# Count
pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[['pharmacy_loc', 'total_rx', 'rx_count_without_IBD_and_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance', 'Rx_count_with_IBD', 'Rx_count_with_IBD_and_Call_for_Insurance']]
#pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_IBD_RX_data.rename(columns = {'pharmacy_loc': 'pharmacy loc'})
pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_IBD_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_IBD_RX_data = pharmacy_location_wise_rx_count_IBD_RX_data[pharmacy_location_wise_rx_count_IBD_RX_data.columns[:]].div(6,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,Rx_count_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,1838,1726,19,72,5
MD-BA,833,703,17,105,6
NC-RA,1058,892,59,77,4
NJ-SO,4669,3976,246,359,81
NY-BK,8295,7552,298,365,60
NY-MA,1583,1510,27,41,3
PA-PH,2279,1840,260,133,36
Overall,20559,18203,927,1154,199

In [113]:
pharmacy_location_wise_rx_count_IBD_RX_data['total_rx'] = pharmacy_location_wise_rx_count_IBD_RX_data[['rx_count_without_IBD_and_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance', 'Rx_count_with_IBD', 'Rx_count_with_IBD_and_Call_for_Insurance']].sum(axis = 1)
pharmacy_location_wise_rx_count_IBD_RX_data

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,Rx_count_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,1822,1726,19,72,5
MD-BA,831,703,17,105,6
NC-RA,1032,892,59,77,4
NJ-SO,4662,3976,246,359,81
NY-BK,8275,7552,298,365,60
NY-MA,1581,1510,27,41,3
PA-PH,2269,1840,260,133,36
Overall,20483,18203,927,1154,199

In [114]:
pharmacy_location_wise_rx_count_IBD_RX_data['rx_count_without_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['rx_count_without_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_Call_for_Insurance']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_IBD_RX_data['Rx_count_with_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_count_IBD_RX_data['total_rx']*100,0).astype(int)
pharmacy_location_wise_rx_count_IBD_RX_data

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,Rx_count_with_Call_for_Insurance,Rx_count_with_IBD,Rx_count_with_IBD_and_Call_for_Insurance,rx_count_without_IBD_and_Call_for_Insurance_%,Rx_count_with_Call_for_Insurance_%,Rx_count_with_IBD_%,Rx_count_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,1822,1726,19,72,5,95,1,4,0
MD-BA,831,703,17,105,6,85,2,13,1
NC-RA,1032,892,59,77,4,86,6,7,0
NJ-SO,4662,3976,246,359,81,85,5,8,2
NY-BK,8275,7552,298,365,60,91,4,4,1
NY-MA,1581,1510,27,41,3,96,2,3,0
PA-PH,2269,1840,260,133,36,81,11,6,2
Overall,20483,18203,927,1154,199,89,5,6,1

In [115]:
pharmacy_location_wise_rx_count_IBD_RX_data_final = pharmacy_location_wise_rx_count_IBD_RX_data[['total_rx', 'rx_count_without_IBD_and_Call_for_Insurance', 'rx_count_without_IBD_and_Call_for_Insurance_%', 'Rx_count_with_Call_for_Insurance', 'Rx_count_with_Call_for_Insurance_%', 'Rx_count_with_IBD', 'Rx_count_with_IBD_%', 'Rx_count_with_IBD_and_Call_for_Insurance', 'Rx_count_with_IBD_and_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_count_IBD_RX_data_final = pharmacy_location_wise_rx_count_IBD_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_IBD_RX_data_final

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,rx_count_without_IBD_and_Call_for_Insurance_%,Rx_count_with_Call_for_Insurance,Rx_count_with_Call_for_Insurance_%,Rx_count_with_IBD,Rx_count_with_IBD_%,Rx_count_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,1822,1726,95,19,1,72,4,5,0
MD-BA,831,703,85,17,2,105,13,6,1
NC-RA,1032,892,86,59,6,77,7,4,0
NJ-SO,4662,3976,85,246,5,359,8,81,2
NY-BK,8275,7552,91,298,4,365,4,60,1
NY-MA,1581,1510,96,27,2,41,3,3,0
PA-PH,2269,1840,81,260,11,133,6,36,2
Overall,20483,18203,89,927,5,1154,6,199,1

In [116]:
pharmacy_location_wise_rx_count_IBD_RX_data_final

,total_rx,rx_count_without_IBD_and_Call_for_Insurance,rx_count_without_IBD_and_Call_for_Insurance_%,Rx_count_with_Call_for_Insurance,Rx_count_with_Call_for_Insurance_%,Rx_count_with_IBD,Rx_count_with_IBD_%,Rx_count_with_IBD_and_Call_for_Insurance,Rx_count_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,1822,1726,95,19,1,72,4,5,0
MD-BA,831,703,85,17,2,105,13,6,1
NC-RA,1032,892,86,59,6,77,7,4,0
NJ-SO,4662,3976,85,246,5,359,8,81,2
NY-BK,8275,7552,91,298,4,365,4,60,1
NY-MA,1581,1510,96,27,2,41,3,3,0
PA-PH,2269,1840,81,260,11,133,6,36,2
Overall,20483,18203,89,927,5,1154,6,199,1

In [117]:
pharmacy_location_wise_rx_count_IBD_RX_data_final = pharmacy_location_wise_rx_count_IBD_RX_data_final.rename(columns = {'total_rx': 'Total Rx', 'rx_count_without_IBD_and_Call_for_Insurance': 'Rx Without IBD and Call for Insurance(CFI)',  'rx_count_without_IBD_and_Call_for_Insurance_%': '%', 'Rx_count_with_Call_for_Insurance' : 'Rx with Only Call for Insurance', 'Rx_count_with_Call_for_Insurance_%' : ' %', 'Rx_count_with_IBD' : 'Rx with Only IBD',\
                                                                    'Rx_count_with_IBD_%' : '% ', 'Rx_count_with_IBD_and_Call_for_Insurance' : 'Rx with IBD and Call for Insurance Both', 'Rx_count_with_IBD_and_Call_for_Insurance_%':' % '})
pharmacy_location_wise_rx_count_IBD_RX_data_final

,Total Rx,Rx Without IBD and Call for Insurance(CFI),%,Rx with Only Call for Insurance,%,Rx with Only IBD,%,Rx with IBD and Call for Insurance Both,%
pharmacy_loc,,,,,,,,,
FL-MI,1822,1726,95,19,1,72,4,5,0
MD-BA,831,703,85,17,2,105,13,6,1
NC-RA,1032,892,86,59,6,77,7,4,0
NJ-SO,4662,3976,85,246,5,359,8,81,2
NY-BK,8275,7552,91,298,4,365,4,60,1
NY-MA,1581,1510,96,27,2,41,3,3,0
PA-PH,2269,1840,81,260,11,133,6,36,2
Overall,20483,18203,89,927,5,1154,6,199,1

In [118]:
subset_value = (pharmacy_location_wise_rx_count_IBD_RX_data_final.index.tolist()[:-1],['Rx Without IBD and Call for Insurance(CFI)', 'Rx with Only Call for Insurance', 'Rx with Only IBD', 'Rx with IBD and Call for Insurance Both'])
#print(u[:-1])
df_style1 = pharmacy_location_wise_rx_count_IBD_RX_data_final.style.set_properties(**body_design2).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")#.set_table_styles([ dict(selector='th', props=[('text-align', 'center')] ) ])
df_style1.set_table_styles([border_design])
df_style1

In [119]:
dfi.export(df_style1, ibd_images+'pharmacy_location_wise_rx_count_ibd_rx_data_final_new.png')

In [120]:
# revenue
pharmacy_location_wise_rx_revenue_IBD_RX_data = pharmacy_location_wise_rx_count_revenue8_IBD_RX_data[['pharmacy_loc', 'total_revenue', 'rx_revenue_without_IBD_and_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'Rx_revenue_with_IBD', 'Rx_revenue_with_IBD_and_Call_for_Insurance']]
pharmacy_location_wise_rx_revenue_IBD_RX_data = pharmacy_location_wise_rx_revenue_IBD_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_IBD_RX_data = pharmacy_location_wise_rx_revenue_IBD_RX_data[pharmacy_location_wise_rx_revenue_IBD_RX_data.columns[:]].div(6,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data

,total_revenue,rx_revenue_without_IBD_and_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_revenue_with_IBD,Rx_revenue_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,344146,219512,9526,96648,7995
MD-BA,635522,407612,8256,204138,13965
NC-RA,354380,188751,4931,145091,5133
NJ-SO,2165438,1455368,61250,507832,135745
NY-BK,2731874,2163817,68674,439615,56903
NY-MA,137619,118620,1749,16206,908
PA-PH,1034810,687329,46033,262438,34464
Overall,7403792,5241012,200423,1671972,255115

In [121]:
pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue'] = pharmacy_location_wise_rx_revenue_IBD_RX_data[['rx_revenue_without_IBD_and_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'Rx_revenue_with_IBD', 'Rx_revenue_with_IBD_and_Call_for_Insurance']].sum(axis=1)
pharmacy_location_wise_rx_revenue_IBD_RX_data

,total_revenue,rx_revenue_without_IBD_and_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_revenue_with_IBD,Rx_revenue_with_IBD_and_Call_for_Insurance
pharmacy_loc,,,,,
FL-MI,333681,219512,9526,96648,7995
MD-BA,633971,407612,8256,204138,13965
NC-RA,343906,188751,4931,145091,5133
NJ-SO,2160195,1455368,61250,507832,135745
NY-BK,2729009,2163817,68674,439615,56903
NY-MA,137483,118620,1749,16206,908
PA-PH,1030264,687329,46033,262438,34464
Overall,7368522,5241012,200423,1671972,255115

In [122]:
pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_without_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_without_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_with_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['rx_revenue_with_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)
pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD_and_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_IBD_RX_data['Rx_revenue_with_IBD_and_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_IBD_RX_data['total_revenue']*100,0).astype(int)


pharmacy_location_wise_rx_revenue_IBD_RX_data

,total_revenue,rx_revenue_without_IBD_and_Call_for_Insurance,rx_revenue_with_Call_for_Insurance,Rx_revenue_with_IBD,Rx_revenue_with_IBD_and_Call_for_Insurance,rx_revenue_without_IBD_and_Call_for_Insurance_%,rx_revenue_with_Call_for_Insurance_%,Rx_revenue_with_IBD_%,Rx_revenue_with_IBD_and_Call_for_Insurance_%
pharmacy_loc,,,,,,,,,
FL-MI,333681,219512,9526,96648,7995,66,3,29,2
MD-BA,633971,407612,8256,204138,13965,64,1,32,2
NC-RA,343906,188751,4931,145091,5133,55,1,42,1
NJ-SO,2160195,1455368,61250,507832,135745,67,3,24,6
NY-BK,2729009,2163817,68674,439615,56903,79,3,16,2
NY-MA,137483,118620,1749,16206,908,86,1,12,1
PA-PH,1030264,687329,46033,262438,34464,67,4,25,3
Overall,7368522,5241012,200423,1671972,255115,71,3,23,3

In [123]:
pharmacy_location_wise_rx_revenue_IBD_RX_data_final = pharmacy_location_wise_rx_revenue_IBD_RX_data[['total_revenue', 'rx_revenue_without_IBD_and_Call_for_Insurance', 'rx_revenue_without_IBD_and_Call_for_Insurance_%', 'rx_revenue_with_Call_for_Insurance','rx_revenue_with_Call_for_Insurance_%', 'Rx_revenue_with_IBD', 'Rx_revenue_with_IBD_%', 'Rx_revenue_with_IBD_and_Call_for_Insurance', 'Rx_revenue_with_IBD_and_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_revenue_IBD_RX_data_final = pharmacy_location_wise_rx_revenue_IBD_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_IBD_RX_data_final = pharmacy_location_wise_rx_revenue_IBD_RX_data_final.rename(columns = {'total_revenue': 'Total Revenue($)', 'rx_revenue_without_IBD_and_Call_for_Insurance' : 'Revenue from rx without IBD or Call for Insurance($)', 'rx_revenue_without_IBD_and_Call_for_Insurance_%' : '%',  'rx_revenue_with_Call_for_Insurance' : 'Revenue from Rx with Call for Insurance($)', 'rx_revenue_with_Call_for_Insurance_%': ' %', 'Rx_revenue_with_IBD' : 'Revenue from Rx with IBD($)', 'Rx_revenue_with_IBD_%' : '% ', 'Rx_revenue_with_IBD_and_Call_for_Insurance' : 'Revenue from Rx with IBD and Call for Insurance both($)', 'Rx_revenue_with_IBD_and_Call_for_Insurance_%': ' % '})
pharmacy_location_wise_rx_revenue_IBD_RX_data_final

,Total Revenue($),Revenue from rx without IBD or Call for Insurance($),%,Revenue from Rx with Call for Insurance($),%,Revenue from Rx with IBD($),%,Revenue from Rx with IBD and Call for Insurance both($),%
pharmacy_loc,,,,,,,,,
FL-MI,333681,219512,66,9526,3,96648,29,7995,2
MD-BA,633971,407612,64,8256,1,204138,32,13965,2
NC-RA,343906,188751,55,4931,1,145091,42,5133,1
NJ-SO,2160195,1455368,67,61250,3,507832,24,135745,6
NY-BK,2729009,2163817,79,68674,3,439615,16,56903,2
NY-MA,137483,118620,86,1749,1,16206,12,908,1
PA-PH,1030264,687329,67,46033,4,262438,25,34464,3
Overall,7368522,5241012,71,200423,3,1671972,23,255115,3

In [124]:
subset_value = (pharmacy_location_wise_rx_revenue_IBD_RX_data_final.index.to_list()[:-1], ['Revenue from rx without IBD or Call for Insurance($)', 'Revenue from Rx with Call for Insurance($)', 'Revenue from Rx with IBD($)', 'Revenue from Rx with IBD and Call for Insurance both($)'])

df_style2 = pharmacy_location_wise_rx_revenue_IBD_RX_data_final.style.set_properties(**body_design2).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
df_style2.set_table_styles([border_design])
dfi.export(df_style2, ibd_images+'pharmacy_location_wise_rx_revenue_IBD_RX_data_final_new.png')
df_style2

In [125]:
ibd_images

'C:\\Users\\vidhi.mittal\\Documents\\Automation\\MBR_3\\OPS_MBR_Github\\ops_mbr\\RX\\automation\\AUTOMATION_ibd\\images\\'

In [126]:
# call for insurance

In [127]:
pharmacy_location_wise_call_for_ins_rx_count_revenue1 = pd.merge(Rx_with_Call_for_Insurance_d1_pivot, Rx_with_Call_for_Insurance_d2_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_call_for_ins_rx_count_revenue2 = pd.merge(pharmacy_location_wise_call_for_ins_rx_count_revenue1, Rx_with_Call_for_Insurance_d3_pivot, on = 'pharmacy_loc', how = 'left')
pharmacy_location_wise_call_for_ins_rx_count_revenue2.fillna(0, inplace = True)
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,98,80298.03,0.0,0.00,0.0,0.00
1,MD-BA,80,71129.50,38.0,53352.19,18.0,7555.68
2,NC-RA,347,59470.81,21.0,582.57,11.0,0.00
3,NJ-SO,1086,742894.54,495.0,299305.46,361.0,129237.17
4,NY-BK,1153,399388.24,579.0,229274.56,267.0,94754.85
5,NY-MA,112,7096.92,44.0,4965.89,26.0,3686.90
6,PA-PH,674,219088.83,550.0,146355.20,481.0,108157.42

In [128]:
# pharmacy_location_wise_call_for_ins_rx_count_revenue2 = pd.merge(, on = 'pharmacy_loc', how = 'left')

In [129]:
# pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data = pharmacy_location_wise_rx_count_revenue8[['pharmacy_loc','Rx_count_with_Call_for_Insurance', 'rx_revenue_with_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance', 'rx_revenue_with_D2_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance', 'rx_revenue_with_D3_Call_for_Insurance']]
# pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data = pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data.fillna(0)
# pharmacy_location_wise_rx_count_revenue8_callforIns_RX_data

In [130]:
for i in pharmacy_location_wise_call_for_ins_rx_count_revenue2.columns[1:]:
    pharmacy_location_wise_call_for_ins_rx_count_revenue2[i] = pharmacy_location_wise_call_for_ins_rx_count_revenue2[i].astype(int)

In [131]:
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,98,80298,0,0,0,0
1,MD-BA,80,71129,38,53352,18,7555
2,NC-RA,347,59470,21,582,11,0
3,NJ-SO,1086,742894,495,299305,361,129237
4,NY-BK,1153,399388,579,229274,267,94754
5,NY-MA,112,7096,44,4965,26,3686
6,PA-PH,674,219088,550,146355,481,108157

In [132]:
pharmacy_location_wise_call_for_ins_rx_count_revenue2 = pharmacy_location_wise_call_for_ins_rx_count_revenue2.append(pharmacy_location_wise_call_for_ins_rx_count_revenue2.sum(axis=0), ignore_index = True)
pharmacy_location_wise_call_for_ins_rx_count_revenue2.iloc[[len(pharmacy_location_wise_call_for_ins_rx_count_revenue2)-1],[0]] = 'Overall'
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,98,80298,0,0,0,0
1,MD-BA,80,71129,38,53352,18,7555
2,NC-RA,347,59470,21,582,11,0
3,NJ-SO,1086,742894,495,299305,361,129237
4,NY-BK,1153,399388,579,229274,267,94754
5,NY-MA,112,7096,44,4965,26,3686
6,PA-PH,674,219088,550,146355,481,108157
7,Overall,3550,1579363,1727,733833,1164,343389

In [133]:
# call for insuranace count
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_call_for_ins_rx_count_revenue2[['pharmacy_loc', 'rx_count_with_D1_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance']]
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_rx_count_callforIns_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_rx_count_callforIns_RX_data[pharmacy_location_wise_rx_count_callforIns_RX_data.columns[:]].div(6,0).astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data

,rx_count_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance
pharmacy_loc,,,
FL-MI,16,0,0
MD-BA,13,6,3
NC-RA,57,3,1
NJ-SO,181,82,60
NY-BK,192,96,44
NY-MA,18,7,4
PA-PH,112,91,80
Overall,591,287,194

In [134]:
pharmacy_location_wise_rx_count_callforIns_RX_data['total_count'] = pharmacy_location_wise_rx_count_callforIns_RX_data[['rx_count_with_D1_Call_for_Insurance','rx_count_with_D2_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance']].sum(axis=1)
pharmacy_location_wise_rx_count_callforIns_RX_data

,rx_count_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,total_count
pharmacy_loc,,,,
FL-MI,16,0,0,16
MD-BA,13,6,3,22
NC-RA,57,3,1,61
NJ-SO,181,82,60,323
NY-BK,192,96,44,332
NY-MA,18,7,4,29
PA-PH,112,91,80,283
Overall,591,287,194,1072

In [135]:
pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D1_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D1_Call_for_Insurance']/pharmacy_location_wise_rx_count_callforIns_RX_data['total_count']*100,0)#.astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D2_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D2_Call_for_Insurance']/pharmacy_location_wise_rx_count_callforIns_RX_data['total_count']*100,0)#.astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D3_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_count_callforIns_RX_data['rx_count_with_D3_Call_for_Insurance']/pharmacy_location_wise_rx_count_callforIns_RX_data['total_count']*100,0)#.astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data = pharmacy_location_wise_rx_count_callforIns_RX_data.fillna(0)
for i in pharmacy_location_wise_rx_count_callforIns_RX_data:
    pharmacy_location_wise_rx_count_callforIns_RX_data[i] = pharmacy_location_wise_rx_count_callforIns_RX_data[i].astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data

,rx_count_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,total_count,rx_count_with_D1_Call_for_Insurance_%,rx_count_with_D2_Call_for_Insurance_%,rx_count_with_D3_Call_for_Insurance_%
pharmacy_loc,,,,,,,
FL-MI,16,0,0,16,100,0,0
MD-BA,13,6,3,22,59,27,14
NC-RA,57,3,1,61,93,5,2
NJ-SO,181,82,60,323,56,25,19
NY-BK,192,96,44,332,58,29,13
NY-MA,18,7,4,29,62,24,14
PA-PH,112,91,80,283,40,32,28
Overall,591,287,194,1072,55,27,18

In [136]:
pharmacy_location_wise_rx_count_callforIns_RX_data_final = pharmacy_location_wise_rx_count_callforIns_RX_data[['total_count', 'rx_count_with_D1_Call_for_Insurance', 'rx_count_with_D1_Call_for_Insurance_%','rx_count_with_D2_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance_%','rx_count_with_D3_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_count_callforIns_RX_data_final = pharmacy_location_wise_rx_count_callforIns_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_count_callforIns_RX_data_final = pharmacy_location_wise_rx_count_callforIns_RX_data_final.rename(columns = {'total_count' : 'Total Rx', 'rx_count_with_D1_Call_for_Insurance': 'Rx with Call for Insurance on Day 1',\
                                                                                                                                      'rx_count_with_D1_Call_for_Insurance_%' : '%', 'rx_count_with_D2_Call_for_Insurance' : 'Rx with Call for Insurance on Day 2', 'rx_count_with_D2_Call_for_Insurance_%' : ' %', 'rx_count_with_D3_Call_for_Insurance' : 'Rx with Call for Insurance on Day 3', 'rx_count_with_D3_Call_for_Insurance_%': '% '})
pharmacy_location_wise_rx_count_callforIns_RX_data_final

,Total Rx,Rx with Call for Insurance on Day 1,%,Rx with Call for Insurance on Day 2,%,Rx with Call for Insurance on Day 3,%
pharmacy_loc,,,,,,,
FL-MI,16,16,100,0,0,0,0
MD-BA,22,13,59,6,27,3,14
NC-RA,61,57,93,3,5,1,2
NJ-SO,323,181,56,82,25,60,19
NY-BK,332,192,58,96,29,44,13
NY-MA,29,18,62,7,24,4,14
PA-PH,283,112,40,91,32,80,28
Overall,1072,591,55,287,27,194,18

In [137]:
subset_value = (pharmacy_location_wise_rx_count_callforIns_RX_data_final.index.to_list()[:-1], ['Rx with Call for Insurance on Day 1', 'Rx with Call for Insurance on Day 2', 'Rx with Call for Insurance on Day 3'])
df_style3 = pharmacy_location_wise_rx_count_callforIns_RX_data_final.style.set_properties(**body_design2).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
df_style3.set_table_styles([border_design])
dfi.export(df_style3, ibd_images+'pharmacy_location_wise_rx_count_callforIns_RX_data_final_new.png')
df_style3

In [138]:
pharmacy_location_wise_call_for_ins_rx_count_revenue2

,pharmacy_loc,rx_count_with_D1_Call_for_Insurance,rx_revenue_with_D1_Call_for_Insurance,rx_count_with_D2_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_count_with_D3_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
0,FL-MI,98,80298,0,0,0,0
1,MD-BA,80,71129,38,53352,18,7555
2,NC-RA,347,59470,21,582,11,0
3,NJ-SO,1086,742894,495,299305,361,129237
4,NY-BK,1153,399388,579,229274,267,94754
5,NY-MA,112,7096,44,4965,26,3686
6,PA-PH,674,219088,550,146355,481,108157
7,Overall,3550,1579363,1727,733833,1164,343389

In [139]:
# call for insuranace revenue
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_call_for_ins_rx_count_revenue2[['pharmacy_loc', 'rx_revenue_with_D1_Call_for_Insurance', 'rx_revenue_with_D2_Call_for_Insurance', 'rx_revenue_with_D3_Call_for_Insurance']]
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_rx_revenue_callforIns_RX_data.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_rx_revenue_callforIns_RX_data[pharmacy_location_wise_rx_revenue_callforIns_RX_data.columns[:]].div(6,0).round(0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data

,rx_revenue_with_D1_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance
pharmacy_loc,,,
FL-MI,13383.0,0.0,0.0
MD-BA,11855.0,8892.0,1259.0
NC-RA,9912.0,97.0,0.0
NJ-SO,123816.0,49884.0,21540.0
NY-BK,66565.0,38212.0,15792.0
NY-MA,1183.0,828.0,614.0
PA-PH,36515.0,24392.0,18026.0
Overall,263227.0,122306.0,57232.0

In [140]:
pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue'] = pharmacy_location_wise_rx_revenue_callforIns_RX_data[['rx_revenue_with_D1_Call_for_Insurance','rx_revenue_with_D2_Call_for_Insurance', 'rx_revenue_with_D3_Call_for_Insurance']].sum(axis=1)
pharmacy_location_wise_rx_revenue_callforIns_RX_data

,rx_revenue_with_D1_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,total_revenue
pharmacy_loc,,,,
FL-MI,13383.0,0.0,0.0,13383.0
MD-BA,11855.0,8892.0,1259.0,22006.0
NC-RA,9912.0,97.0,0.0,10009.0
NJ-SO,123816.0,49884.0,21540.0,195240.0
NY-BK,66565.0,38212.0,15792.0,120569.0
NY-MA,1183.0,828.0,614.0,2625.0
PA-PH,36515.0,24392.0,18026.0,78933.0
Overall,263227.0,122306.0,57232.0,442765.0

In [141]:
pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D1_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D1_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue']*100,0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_count_with_D2_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D2_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue']*100,0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_count_with_D3_Call_for_Insurance_%'] = round(pharmacy_location_wise_rx_revenue_callforIns_RX_data['rx_revenue_with_D3_Call_for_Insurance']/pharmacy_location_wise_rx_revenue_callforIns_RX_data['total_revenue']*100,0)#.astype(int)
pharmacy_location_wise_rx_revenue_callforIns_RX_data = pharmacy_location_wise_rx_revenue_callforIns_RX_data.fillna(0)
for i in pharmacy_location_wise_rx_revenue_callforIns_RX_data:
    pharmacy_location_wise_rx_revenue_callforIns_RX_data[i] = pharmacy_location_wise_rx_revenue_callforIns_RX_data[i].astype(int)
pharmacy_location_wise_rx_count_callforIns_RX_data

pharmacy_location_wise_rx_revenue_callforIns_RX_data

,rx_revenue_with_D1_Call_for_Insurance,rx_revenue_with_D2_Call_for_Insurance,rx_revenue_with_D3_Call_for_Insurance,total_revenue,rx_revenue_with_D1_Call_for_Insurance_%,rx_count_with_D2_Call_for_Insurance_%,rx_count_with_D3_Call_for_Insurance_%
pharmacy_loc,,,,,,,
FL-MI,13383,0,0,13383,100,0,0
MD-BA,11855,8892,1259,22006,54,40,6
NC-RA,9912,97,0,10009,99,1,0
NJ-SO,123816,49884,21540,195240,63,26,11
NY-BK,66565,38212,15792,120569,55,32,13
NY-MA,1183,828,614,2625,45,32,23
PA-PH,36515,24392,18026,78933,46,31,23
Overall,263227,122306,57232,442765,59,28,13

In [142]:
pharmacy_location_wise_rx_revenue_callforIns_RX_data_final = pharmacy_location_wise_rx_revenue_callforIns_RX_data[['total_revenue', 'rx_revenue_with_D1_Call_for_Insurance', 'rx_revenue_with_D1_Call_for_Insurance_%', 'rx_revenue_with_D2_Call_for_Insurance', 'rx_count_with_D2_Call_for_Insurance_%', 'rx_revenue_with_D3_Call_for_Insurance', 'rx_count_with_D3_Call_for_Insurance_%']]
#pharmacy_location_wise_rx_revenue_callforIns_RX_data_final = pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.set_index('pharmacy_loc')
pharmacy_location_wise_rx_revenue_callforIns_RX_data_final = pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.rename(columns = {'total_revenue': 'Total Revenue($)', 'rx_revenue_with_D1_Call_for_Insurance': 'Revenue from rx require Call for Insurance on Day 1($)', 'rx_revenue_with_D1_Call_for_Insurance_%': '%', 'rx_revenue_with_D2_Call_for_Insurance' : 'Revenue from rx require Call for Insurance on Day 2($)',\
                                                                                                                                         'rx_count_with_D2_Call_for_Insurance_%': ' %', 'rx_revenue_with_D3_Call_for_Insurance': 'Revenue from rx require Call for Insurance on Day 3($)', 'rx_count_with_D3_Call_for_Insurance_%': '% '})
pharmacy_location_wise_rx_revenue_callforIns_RX_data_final

,Total Revenue($),Revenue from rx require Call for Insurance on Day 1($),%,Revenue from rx require Call for Insurance on Day 2($),%,Revenue from rx require Call for Insurance on Day 3($),%
pharmacy_loc,,,,,,,
FL-MI,13383,13383,100,0,0,0,0
MD-BA,22006,11855,54,8892,40,1259,6
NC-RA,10009,9912,99,97,1,0,0
NJ-SO,195240,123816,63,49884,26,21540,11
NY-BK,120569,66565,55,38212,32,15792,13
NY-MA,2625,1183,45,828,32,614,23
PA-PH,78933,36515,46,24392,31,18026,23
Overall,442765,263227,59,122306,28,57232,13

In [143]:
subset_value = (pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.index.to_list()[:-1], ['Revenue from rx require Call for Insurance on Day 1($)', 'Revenue from rx require Call for Insurance on Day 2($)', 'Revenue from rx require Call for Insurance on Day 3($)'])
df_style4 = pharmacy_location_wise_rx_revenue_callforIns_RX_data_final.style.set_properties(**body_design2).background_gradient(cmap='RdYlGn',axis=1, subset = subset_value).format("{:,}")
df_style4.set_table_styles([border_design])
dfi.export(df_style4, ibd_images+'pharmacy_location_wise_rx_revenue_callforIns_RX_data_final_new.png')
df_style4

In [144]:
# pharmacy_location_wise_rx_count_revenue8.append(pharmacy_location_wise_rx_count_revenue8.sum(axis=0), ignore_index = True).to_clipboard(index=False)

In [145]:
# pharmacy_location_wise_rx_count1 = pd.merge(overall_count, rx_without_IBD_and_Call_for_Insurance_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count2 = pd.merge(pharmacy_location_wise_rx_count1, Rx_with_Call_for_Insurance_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count3 = pd.merge(pharmacy_location_wise_rx_count2, Rx_with_IBD_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count4 = pd.merge(pharmacy_location_wise_rx_count3, Rx_with_IBD_and_Call_for_Insurance_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count5 = pd.merge(pharmacy_location_wise_rx_count4, Rx_with_IBD_value_less_2k_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count6 = pd.merge(pharmacy_location_wise_rx_count5, Rx_with_IBD_value_greater_2k_count_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_count6

In [146]:
# pharmacy_location_wise_rx_count6.append(pharmacy_location_wise_rx_count6.sum(axis=0), ignore_index = True).to_clipboard(index=False)

In [147]:
# pharmacy_location_wise_rx_revenue1 = pd.merge(overall_rev_sum, rx_without_IBD_and_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue2 = pd.merge(pharmacy_location_wise_rx_revenue1, Rx_with_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue3 = pd.merge(pharmacy_location_wise_rx_revenue2, Rx_with_IBD_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue4 = pd.merge(pharmacy_location_wise_rx_revenue3, Rx_with_IBD_and_Call_for_Insurance_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue5 = pd.merge(pharmacy_location_wise_rx_revenue4, Rx_with_IBD_value_less_2k_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue6 = pd.merge(pharmacy_location_wise_rx_revenue5, Rx_with_IBD_value_greater_2k_revenue_pivot, on = 'pharmacy_loc', how = 'left')
# pharmacy_location_wise_rx_revenue6

In [148]:
# pharmacy_location_wise_rx_revenue6.append(pharmacy_location_wise_rx_revenue6.sum(axis=0), ignore_index=True).to_clipboard(index=False)